<section id="ingredient">
  <h2 class="aligncenter"><img class="js-res_img" src="<%= productRootPath %>img/ingredient_tit_01_pc.png"
      alt="オリエンタルバイオがこだわりつくした3大成分"></h2>
  <div class="inner">
    <section class="ingredient-col" id="ingredient-col-01">
      <h3><img class="js-res_img" src="<%= productRootPath %>img/ingredient_tit_02_pc.png" alt="1.大豆発酵エキス（NT）"></h3>
      <dl>
        <dt class="fontMincho cOrange pc tab">
          オリエンタルバイオ独自の<br>
          大豆発酵エキス（NT）は長年の研究により誕生
        </dt>
        <dt class="fontMincho cOrange sp">
          オリエンタルバイオ独自の
          大豆発酵エキス（NT）は長年の研究により誕生
          <!-- <p class="aligncenter"><img class="six_patent" src="<%= productRootPath %>img/ingredient_img_01_sp.png"
              alt="6つの特許を取得！"></p> -->
        </dt>

       <!--  <dd>大豆発酵エキス（NT）は健やかな生活に重要な<br>
          <span class="cOrange"><strong>栄養補給ができる力</strong></span>を備えています。<br>
          その製法や働きにおいて合計<span class="cOrange"><strong>6つの特許を取得</strong></span>しており、<br>
          その働きは、生活習慣が乱れがちな現在社会において<br>
          有用な栄養成分といえます。</dd> -->
      </dl>
      <section id="nt-story">
        <h4 class="aligncenter"><img class="js-res_img" src="<%= productRootPath %>img/ingredient_txt_pc.png"
            alt="大豆発酵エキス（NT）開発ストーリー"></h4>
        <div class="box clearfix">
          <div class="floatleft fontMincho aligncenter">
            <img class="js-res_img" src="<%= productRootPath %>img/ingredient_img_02_pc.jpg" alt="">
            <p class="name_shoulder fon16">
              医学博士・農学博士</p>
            <p><span class="fon30">横田 隆 </span><span class="fon23">先生</span></p>
          </div>
          <dl class="floatright">
            <dt class="copy fon30 fontMincho cGreen">10年以上の歳月をかけ<br>
              追い求めていた理想的な物質は、<br>
              大豆発酵エキス（NT）でした。</dt>
            <dd>始まりは、食品が発酵する過程で、健やかな毎日に有用な成分が生まれることへの着目でした。<br>
              １０年以上もの間、さまざまな植物と発酵させる菌の組み合わせを検証。試行錯誤の結果、選び抜いた「大豆」をある種の「納豆菌株」により発酵させることで、追い求めていた物質を発見したのです。<br>
              厳選した大豆を特定の納豆菌によって発酵。そして、できた代謝物から有用成分を特殊な製法でしっかり抽出したのが、大豆発酵エキス（ＮＴ）です。毎日継続することで、みなさんに実感していただけると信じています。<br>
            </dd>
          </dl>
        </div>
      </section>
      <div id="ingredient-col-01-01">
        <dl>
          <dt class="fontMincho cGreen">安全性・働きで選んだ<br>
            国産有機・特別栽培大豆</dt>
          <dd>
            大豆発酵エキス（NT）は、機能性はもちろん、<br class="sp">原料にも徹底的にこだわっています。<br>
            それは、原材料の栄養価や品質が製品の<br class="sp">有用性に重要だと考えるからです。<br>
            大豆発酵エキス（NT）のパワーに最大限に注力した結果、<br>
            採用した大豆原料は国内で流通しているわずか<br class="sp">６パーセント<span>※</span>の国産大豆。<br>
            さらにその中でも希少な<br class="sp">有機・特別栽培種の大豆を厳選しています。<br>
            全て国内で収穫・加工している安心安全な大豆原料です。</dd>
        </dl>
        <p class="alignright fon14">※平成２５年 農林水産省ホームページより</p>
      </div>
      <div id="ingredient-col-01-02">
        <dl>
          <dt class="fontMincho cGreen">こだわりの発酵と<br class="sp">特殊な抽出技術</dt>
          <dd>長年培ってきた発酵技術を駆使し、<br class="sp">選び抜いた原材料と最適な発酵の<br class="sp">組み合わせを研究。<br>
            温度・湿度・時間にこだわり、熟練の<br class="sp">製造責任者が全工程をひとつひとつ<br>
            丁寧に手作業で行っています。<br>
            その上、研究の末に生み出した特殊<br class="sp">な抽出技術で有用成分を<br>
            最大限に引き出すことに成功しました。</dd>
        </dl>
      </div>
    </section>
    <section class="ingredient-col" id="ingredient-col-02">
      <h3><img class="js-res_img" src="<%= productRootPath %>img/ingredient_tit_03_pc.png" alt="2.大豆・米糠発酵エキス（OE-1）"></h3>
      <div id="ingredient-img-03"><img class="js-res_img" src="<%= productRootPath %>img/ingredient_img_03_pc.png" alt="">
      </div>
      <dl>
        <dt class="clearfix fontMincho cOrange"><!-- <img class="js-res_img floatleft"
            src="<%= productRootPath %>img/ingredient_img_04_pc.png" alt="2つの特許"> -->
          <p>大豆と米糠を<br>
            発酵・抽出した<br>
            オリエンタルバイオの<br>
            オリジナル発酵エキス</p>
        </dt>
        <dd>大豆発酵エキス(NT)とは原料や抽出方法も違うため、<br>
          <strong class="cOrange">様々な方に違う方向からアプローチが可能。</strong><br>
          有用性に優れているだけでなく、<strong class="cOrange">歳を重ねるごとに気になる生活習慣を栄養面からサポート。<br>
            <!-- その製法や機能性において２つの特許を取得。 --></strong></dd>
      </dl>
    </section>
    <section class="ingredient-col" id="ingredient-col-03">
      <h3><img class="js-res_img" src="<%= productRootPath %>img/ingredient_tit_04_pc.png" alt="3.ヒドロキシチロソール（オリーブ葉エキス）">
      </h3>
      <div id="ingredient-img-05"><img class="js-res_img" src="<%= productRootPath %>img/ingredient_img_05_pc.png" alt="">
      </div>
      <dl>
        <dt class="fontMincho cOrange">めぐりある毎日を<br class="sp">サポート！</dt>
        <dd>
          オリーブの葉から抽出した成分。<br>
          <span class="cOrange"><strong>ポリフェノールの1種であるヒドロキシチロソールが<br>
              めぐりある毎日をサポート。</strong></span><br>
          年齢を重ねるほど、もろくなりがちだからこそ、<br>
          見えない健康リスクから身を守るのが大事です。<br>
          油に溶けにくいため、オリーブオイルなどの<br class="sp">食品からでは<br class="pc tab">
          摂りづらい希少成分。
        </dd>
      </dl>
      <div class="bgBrown">
        <img class="js-res_img" src="<%= productRootPath %>img/ingredient_img_06_pc.png" alt="ヒドロキシチロソール8mg配合">
        <p class="fon18"><strong>ヨーロッパ連合の専門機関<br class="sp">「欧州食品安全機関（EFSA）」により、<br>
            <span class="fon23 cYellow">1日5mg摂取することで健康に貢献する</span>と<br class="sp">認められている注目成分。</strong></p>
      </div>
    </section>
  </div>
</section>