<section id="longseller" class="longseller_v2">
  <div class="inner">
    <h2 class="aligncenter"><img class="js-res_img" src="<%= productRootPath %>img/img_longseller_title_pc.png"
    alt="著名な方々からお喜びの声続々　おかげさまで、販売開始から２５年以上続くロングセラー"></h2>
    <div class="aligncenter" id="ls01">
      <img class="js-res_img" src="<%= productRootPath %>img/img_longseller_hanshin_pc.jpg" alt="今の目標は元気で50周年を迎えること。漫才師　オール阪神さん　飲用開始　2018年6月　引用数（１日）5本　きっかけ　知人からのご紹介">
      </div>
    <div class="aligncenter" id="ls01">
    <img class="js-res_img" src="<%= productRootPath %>img/img_longseller_harimoto_pc.png" alt="ラフィーネ-アルファはね、生涯の友だと思ってますよ。野球解説者　張本勲さん　飲用開始　2008年5月　引用数（１日）3〜６本　きっかけ　後輩からのご紹介">
    </div>
    <div class="aligncenter" id="ls02">
      <img class="js-res_img" src="<%= productRootPath %>img/img_longseller_kanetani_pc.png" alt="夫婦そろって健康であることが大切なんです。ラフィーネ-アルファは二人をつなぐ潤滑油のようなもの。元気で頑張れるこの人生に感謝ですね！　プロゴルファー　金谷　智美さん　ゴルフプロフェッショナル　金谷　多一郎さん　飲用開始　2006年6月　引用数（１日）４本（智美さん）３〜６本（多一郎さん）　きっかけ　後輩からのご紹介">
    </div>
    <div class="aligncenter" id="ls03">
      <img class="js-res_img" src="<%= productRootPath %>img/img_longseller_kaneishi_pc.png" alt="健康でいることは周りの人も楽しくさせられる。90歳まで元気でいるためにも今の健康管理が大事だと思ってます。　野球解説者　金石　昭人さん　スポーツキャスター　陣内　貴美子さん">
    </div>
    <div class="aligncenter" id="ls04">
      <img class="js-res_img" src="<%= productRootPath %>img/img_longseller_tchin_pc.png" alt="いつも、「ありがとう、頼むよ」って思いながら飲んでます。　中華料理人　陳　健一さん　飲用開始　2013年7月　引用数（１日）3本　きっかけ　金谷多一郎さんのご紹介">
    </div>
  </div>
</section>