<section id="voice">
  <h2 class="inner"><span><img class="js-res_img" src="<%= productRootPath %>img/voice_tit_pc.png"
        alt="お喜びの声をたくさんいただきました"></span></h2>
  <div class="voice-col" id="voice-col-01">
    <div class="fontMincho cGreen voice-stit">飲み続けることで健康に<br>つながっている自信がある。</div>
    <dl class="fontMincho">
      <dt><span class="fon36">下見勝二</span><span class="fon26">さん</span><br>
        愛飲歴　20年以上</dt>
      <dd><img class="js-res_img" src="<%= productRootPath %>img/voice_txt_01_2_pc.png" alt="55歳"></dd>
    </dl>
  </div>
  <div class="voice-col" id="voice-col-02">
    <div class="fontMincho cGreen voice-stit"> 続けていられるのは<br>
      ラフィーネのおかげです。</div>
    <dl class="fontMincho">
      <dt><span class="fon36">村瀬康子</span><span class="fon26">さん</span><br>
        愛飲歴　4年8ヵ月</dt>
      <dd><img class="js-res_img" src="<%= productRootPath %>img/voice_txt_02_pc.png" alt="76歳"></dd>
    </dl>
  </div>
  <div class="voice-col" id="voice-col-03">
    <div class="fontMincho cGreen voice-stit">ラフィーネ-アルファが<br class="sp">ある限り、<br class="pc tab">
      続けます。</div>
    <dl class="fontMincho">
      <dt><span class="fon36">会沢愛子</span><span class="fon26">さん</span><br>
        愛飲歴　26年以上</dt>
      <dd><img class="js-res_img" src="<%= productRootPath %>img/voice_txt_03_2_pc.png" alt="65歳"></dd>
    </dl>
  </div>
  <div class="voice-col" id="voice-col-04">
    <div class="fontMincho cGreen voice-stit">不安もなく、笑顔で<br class="sp">前向きで<br class="pc tab">
      いられるんです。</div>
    <dl class="fontMincho">
      <dt><span class="fon36">野尻紗代</span><span class="fon26">さん</span><br>
        愛飲歴　9年8ヵ月</dt>
      <dd><img class="js-res_img" src="<%= productRootPath %>img/voice_txt_04_pc.png" alt="66歳"></dd>
    </dl>
  </div>
  <p class="alignright fon15">※年齢は取材時</p>
</section>