<head>
  <meta charset="utf-8">
  <meta name="description" content="コメ発酵液ベースの化粧水で硬くなった肌をほぐし、美容成分をナノ化した美容乳液で悩みへダイレクトに届ける。さらに、肌と同じラメラ構造のクリームで包み込む、3ステップの浸透技術を採用。肌本来がもつハリ・弾力にアプローチするNst[エニスト]についてはこちらから。 ">
  <title>Nst - エニスト　浸透力と弾力に注目したエイジングケア化粧品</title>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 共通リソース -->
  <link rel="stylesheet" href="<%= commonRootPath %>css/common.css" type="text/css" media="all">
  <script src="<%= commonRootPath %>js/common.js"></script>
  <!-- /共通リソース -->

  <!-- 専用リソース -->
  <link rel="stylesheet" href="<%= productRootPath %>css/style.css" type="text/css" media="all">
  <script src="<%= commonRootPath %>js/jQuery_v3.4.1_min.js" type="text/javascript" charset="utf-8" async defer></script>
  <script src="<%= productRootPath %>js/main.js" defer></script>
  <!-- /専用リソース -->

  <!-- 共通CSS -->

  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-PH4SDD');</script>
  <!-- End Google Tag Manager -->
</head>
