<div class="cta_box_normal cta_box-kotsubu">
  <img src="<%= productRootPath %>../common/img/cta_kotsubu_01.png" alt="">

  <div class="toggle_contents" data-content="#box01">
    <span class="toggle_btn"><img src="<%= productRootPath %>../common/img/cta_kotsubu_open.png" alt=""></span>
    <div class="toggle_txt" id="box01">
      <img src="<%= productRootPath %>../common/img/cta_kotsubu_02.png" alt="">
    </div>
  </div>
  <img src="<%= productRootPath %>../common/img/cta_kotsubu_03.png" alt="">
  <img src="<%= productRootPath %>../common/img/cta_kotsubu_04.png" alt="">
  <a class="btn_move cta_buy_kotsubu_btn" href="<%= frontURL %>cart/set?code=R49&cycle=1&quantity=1"><img src="<%= productRootPath %>../common/img/cta_kotsubu_button.png" alt=""></a>
</div>
