<section id="pleasure" class="pleasure">
  <div class="inner aligncenter pc">
    <img src="<%= productRootPath %>img/img_pleasure_pc.png" alt="">
  </div>
  <img class="sp" src="<%= productRootPath %>img/img_pleasure_sp.png" alt="">
</section>
<section id="favorite">
  <!-- <h2 class="aligncenter"><img class="js-res_img" src="<%= productRootPath %>img/favorite_tit_pc.png"
      alt="ラフィーネ エパゴールドは、多くの方にご愛飲いただいております"></h2> -->
   <div class="inner aligncenter">
     <div class="pc">
       <img src="<%= productRootPath %>img/img_favorite_pc.png" alt="">
     </div>
     <img class="sp" src="<%= productRootPath %>img/img_favorite_sp.png" alt="">

    <!--<div id="favorite1" class="favorite-col clearfix">
      <div class="floatright"><img class="js-res_img" src="<%= productRootPath %>img/favorite_img_01_pc.png"
          alt=""></div>
      <div class="favorite-body">
        <p><img class="js-res_img" src="<%= productRootPath %>img/favorite_txt_01_pc.png"
            alt="とにかく飲んでみることよ。 結果はわかりますから"></p>
        <dl>
          <dt>美川憲一<span class="fon16">さん</span><span class="fon20">（歌手）</span></dt>
          <dd class="fon18">飲用開始：<span class="fon22">2010</span>年　<br class="sp">飲用商品：<span class="fon22">エパゴールド600</span></dd>
        </dl>
        <p class="fon13">※個人の感想であり、商品の効果を<br class="sp">保証するものではありません。</p>
      </div>
    </div>
    <div id="favorite2" class="favorite-col clearfix">
      <div class="floatleft"><img class="js-res_img" src="<%= productRootPath %>img/favorite_img_02_pc.png" alt="">
      </div>
      <div class="favorite-body">
        <p><img class="js-res_img" src="<%= productRootPath %>img/favorite_txt_02_pc.png"
            alt="まずは飲んでほしいですね。僕も6年くらい続けています"></p>
        <dl>
          <dt>宮﨑大輔<span class="fon16">さん</span><br class="sp"><span class="fon20">（プロハンドボール選手）</span></dt>
          <dd>飲用開始：<span class="fon22">2012</span>年　<br class="sp">飲用商品：<span class="fon22">エパゴールド600</span></dd>
        </dl>
        <p class="fon13">※個人の感想であり、商品の効果を<br class="sp">保証するものではありません。</p>
      </div>
    </div>
    <div id="favorite3" class="favorite-col clearfix">
      <div class="floatright"><img class="js-res_img" src="<%= productRootPath %>img/favorite_img_03_pc.png"
          alt=""></div>
      <div class="favorite-body">
        <p><img class="js-res_img" src="<%= productRootPath %>img/favorite_txt_03_pc.png"
            alt="美川憲一さんがテレビで“飲んでみないとわからない”と言っていて、そうだなと思って飲み始めました">
        </p>
        <dl>
          <dt>三上良子<span class="fon16">さん</span></dt>
          <dd>飲用開始：<span class="fon22">2014</span>年　<br class="sp">飲用商品：<span class="fon22">エパゴールド300</span></dd>
        </dl>
        <p class="fon13">※個人の感想であり、商品の効果を<br class="sp">保証するものではありません。</p>
      </div>
    </div>
    <div id="favorite4" class="favorite-col clearfix">
      <div class="floatleft"><img class="js-res_img" src="<%= productRootPath %>img/favorite_img_04_pc.png" alt="">
      </div>
      <div class="favorite-body">
        <p><img class="js-res_img" src="<%= productRootPath %>img/favorite_txt_04_pc.png"
            alt="EPA、DHA、ビタミンE、Cが入っていて絶対いいなって。質も良いって言われてるので本物なんだなって。"></p>
        <dl>
          <dt>田尾安志<span class="fon16">さん</span><br class="sp"><span class="fon16">（初代楽天イーグルス監督/野球解説者）</span></dt>
          <dd class="fon18">飲用開始：<span class="fon22">2018</span>年　<br class="sp">飲用商品：<span class="fon22">エパゴールド600</span></dd>
        </dl>
        <p class="fon13">※個人の感想であり、商品の効果を<br class="sp">保証するものではありません。</p>
      </div>
    </div> -->
  </div>
</section>