<div id="repeat">
  <div class="pc">
    <img src="<%= productRootPath %>img/repeat_title_pc.png" alt="">
    <img src="<%= productRootPath %>img/repeat_discription_pc.png" alt="">
    <img src="<%= productRootPath %>img/repeat_voicetitle_pc.png" alt="">
    <img src="<%= productRootPath %>img/repeat_voice_pc.png" alt="">
  </div>
  <div class="inner sp">
    <img src="<%= productRootPath %>img/repeat_title_sp.png" alt="">
    <img src="<%= productRootPath %>img/repeat_discription_01_sp.png" alt="">
    <img src="<%= productRootPath %>img/repeat_discription_02_sp.png" alt="">
    <img src="<%= productRootPath %>img/repeat_voicetitle_sp.png" alt="">
    <img src="<%= productRootPath %>img/repeat_voice_01_sp.png" alt="">
    <img src="<%= productRootPath %>img/repeat_voice_02_sp.png" alt="">
    <img src="<%= productRootPath %>img/repeat_voice_03_sp.png" alt="">
    <img src="<%= productRootPath %>img/repeat_voice_04_sp.png" alt="">
  </div>
</div>
<!-- /#repeat -->