<section id="uservoice" class="aligncenter">
  <div><img class="js-res_img" src="<%= productRootPath %>img/uservoice_tocho_title_pc.png"
      alt=""></div>
  <div><img class="js-res_img" src="<%= productRootPath %>img/uservoice_tocho_01_pc.png"
      alt=""></div>
  <div><img class="js-res_img" src="<%= productRootPath %>img/uservoice_tocho_02_pc.png"
      alt=""></div>
  <div><img class="js-res_img" src="<%= productRootPath %>img/uservoice_tocho_03_pc.png"
      alt=""></div>
  <div><img class="js-res_img" src="<%= productRootPath %>img/uservoice_tocho_04_pc.png"
      alt=""></div>
</section>
<!-- /#uservoice -->
