<!-- footer -->
<footer id="footer" class="f">
  <div class="f_inner">
    <div class="f_ci">
      <p class="f_logo"><img class="js-res_img" src="<%= commonRootPath %>img/logo_ftr_pc.png" alt="オリエンタルバイオ"></p>
    </div>
    <ul class="f_menu">
      <li><a href="<%= corporateURL %>company" target="_blank">企業情報</a></li>
      <li><a href="<%= corporateURL %>terms" target="_blank">ご利用に当たって</a></li>
      <li><a href="<%= corporateURL %>privacy" target="_blank">プライバシーポリシー</a></li>
      <li><a href="<%= frontURL %>tokutei/" target="_blank">特定商取引法に基づく表記</a></li>
      <li><a href="<%= frontURL %>ContactInput" target="_blank">お問い合わせ</a></li>
    </ul>
  </div>
  <p class="f_copyright">(C) 2021 ORIENTALBIO Co.,Ltd.</p>
</footer>
<!-- /footer -->
