<footer id="footer">
  <div class="footer_link">
    <p class="footer_link_btn"><a href="<%= corporateURL %>company/" target="_blank"><img src="<%= productRootPath %>img/btn_footer_company.png" alt="企業情報"></a></p>
    <p class="footer_link_btn"><a href="<%= corporateURL %>terms/" target="_blank"><img src="<%= productRootPath %>img/btn_footer_terms.png" alt="ご利用に当たって"></a></p>
    <p class="footer_link_btn"><a href="<%= corporateURL %>privacy/" target="_blank"><img src="<%= productRootPath %>img/btn_footer_privacy.png" alt="プライバシーポリシー"></a></p>
    <p class="footer_link_btn"><a href="<%= frontURL %>tokutei/" target="_blank"><img src="<%= productRootPath %>img/btn_footer_tokutei.png" alt="特定商取引法に基づく表記"></a></p>
    <p class="footer_link_btn"><a href="<%= frontURL %>contact/" target="_blank"><img src="<%= productRootPath %>img/btn_footer_contact.png" alt="お問い合わせ"></a></p>
    <p class="copyright">©2020 ORIENTALBIO Co.,Ltd.</p>
  </div>
</footer>
