<%
  const commonRootPath = '../../../../common/';
  const productRootPath = '../../';
  const commonComponentPath = `${commonRootPath}components/`;
  const productComponentPath = `${productRootPath}../components/`;
%>
<!DOCTYPE html>
<html>
<%- include(`${productComponentPath}lotion/_head`, {commonRootPath, productRootPath}) %>
<body class="double_w_wrapper nst">
<script src="<%= commonRootPath %>js/jQuery_v3.4.1_min.js" type="text/javascript" charset="utf-8" async defer></script>
<script>
$(window).load(function() {
    var ahash = location.hash;
    var gotoNum = $(ahash).offset().top;
    $('html,body').animate({ scrollTop: gotoNum }, 'slow');
    return false;
});
</script>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PH4SDD" height="0" width="0"
style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="double_w nst">

  <div class="fv" style="position: relative;">
    <p><img src="<%= productRootPath %>img/fv.png" alt=""></p>
  </div>
  <div class="voicelist">
    <p><img src="<%= productRootPath %>img/voicelist_01.png" alt=""></p>
  </div>
  <div class="voce">
    <p><img src="<%= productRootPath %>img/voce_01.png" alt=""></p>
  </div>
  <div class="question">
    <p><img src="<%= productRootPath %>img/question_01.png" alt=""></p>
    <p><img src="<%= productRootPath %>img/question_02.png" alt=""></p>
    <p><img src="<%= productRootPath %>img/question_03.png" alt=""></p>
  </div>
  <div class="history">
    <p id="history01"><img src="<%= productRootPath %>img/history_01.png" alt=""></p>
    <p><img src="<%= productRootPath %>img/history_02.png" alt=""></p>
    <p><img src="<%= productRootPath %>img/history_03.png" alt=""></p>
  </div>
  <div class="cta_water">
    <p id="ctawater01"><img src="<%= productRootPath %>img/cta_water_main_01.png" alt=""></p>
    <p><img src="<%= productRootPath %>img/cta_water_main_02.png" alt=""></p>
    <p><img src="<%= productRootPath %>img/cta_water_main_03.png" alt=""></p>
    <a href="<%= frontURL %>cart/set?code=RNS1&cycle=1&quantity=1"><img src="<%= productRootPath %>img/button_water_teiki.png" alt=""></a>
    <div class="tujo">
       <p class="price"><img src="<%= productRootPath %>img/cta_water_main_04.png" alt=""></p>
       <p class="button">
        <a href="<%= frontURL %>cart/set?code=NS1&cycle=1&quantity=1"><img src="<%= productRootPath %>img/button_tujo.png" alt=""></a>
      </p>
    </div>
    <p><img src="<%= productRootPath %>img/cta_water_main_05.png" alt=""></p>
  </div>
  <div class="bollet">
    <p><img src="<%= productRootPath %>img/bollet_01.png" alt=""></p>
    <p><img src="<%= productRootPath %>img/bollet_02.png" alt=""></p>
    <p><img src="<%= productRootPath %>img/bollet_03.png" alt=""></p>
    <p><img src="<%= productRootPath %>img/bollet_04.png" alt=""></p>
  </div>
  <div class="points">
    <p><img src="<%= productRootPath %>img/points_first_01.png" alt=""></p>
    <p><img src="<%= productRootPath %>img/points_first_02.png" alt=""></p>
    <p id="points03"><img src="<%= productRootPath %>img/points_first_03.png" alt=""></p>
    <div class="kome" style="margin-bottom: 1vw;">
      <p><img src="<%= productRootPath %>img/points_kome_01.png" alt=""></p>
      <p><img src="<%= productRootPath %>img/points_kome_02.png" alt=""></p>
      <p><img src="<%= productRootPath %>img/points_kome_03.png" alt=""></p>
    </div>
    <p><img src="<%= productRootPath %>img/points_other_01.png" alt=""></p>
    <div class="apple" style="margin-bottom: 1vw;">
      <p><img src="<%= productRootPath %>img/points_apple_01.png" alt=""></p>
      <p><img src="<%= productRootPath %>img/points_apple_02.png" alt=""></p>
    </div>
    <div class="squalane" style="margin-bottom: 1vw;">
      <p><img src="<%= productRootPath %>img/points_squalane_01.png" alt=""></p>
      <p><img src="<%= productRootPath %>img/points_squalane_02.png" alt=""></p>
    </div>
  </div>
  <div class="danmen">
    <p><img src="<%= productRootPath %>img/points_danmen_title01.png" alt=""></p>
    <p><img src="<%= productRootPath %>img/gif_danmen.gif" alt=""></p>
  </div>
  <div class="voice" style="position: relative;">
    <p id="voice01"><img src="<%= productRootPath %>img/voice_title_01.png" alt=""></p>
  </div>
  <div class="voice_area">
    <div class="voice_block">
      <ul>
        <li>
          <img class="pc" src="<%= productRootPath %>img/img_voice_star5.png" alt="">
          <img class="sp" src="<%= productRootPath %>img/img_voice_star5_sp.png" alt="">
        </li><!-- 星 -->
        <li class="user">41歳/女性</li>
      </ul>
      <p class="voice_text">これまでのお手入れでは、水分が手に残る感じがかなりあったのですが、Nstは出した化粧水の8割は手から離れている感じですごく良かったです。</p>
    </div>
    <div class="voice_block">
      <ul>
        <li>
          <img class="pc" src="<%= productRootPath %>img/img_voice_star5.png" alt="">
          <img class="sp" src="<%= productRootPath %>img/img_voice_star5_sp.png" alt="">
        </li><!-- 星 -->
        <li class="user">60歳/女性</li>
      </ul>
      <p class="voice_text">コメ発酵液を使い、水を加えていないからなのか濃度の濃さを感じました。今まで使用した化粧水の中で1番好きな使用感で、すばらしく気に入りました。何を使うか迷ったらこの化粧水にします。しいていえば、容器がプッシュ式だととても楽で使いやすいと思いました。</p>
    </div>
    <div class="voice_block">
      <ul>
        <li>
          <img class="pc" src="<%= productRootPath %>img/img_voice_star5.png" alt="">
          <img class="sp" src="<%= productRootPath %>img/img_voice_star5_sp.png" alt="">
        </li><!-- 星 -->
        <li class="user">53歳/女性</li>
      </ul>
      <p class="voice_text">濃厚さを感じるにも関わらず、重くないしベタつきや気になる匂いもありません。 使い心地が大好きです。コメ発酵液が自分の肌に合っているのでは？と思ったことがありましたが、「あきたこまち」を使用したコメ発酵液は更に合っているのかも！</p>
    </div>
    <div class="voice_block">
      <ul>
        <li>
          <img class="pc" src="<%= productRootPath %>img/img_voice_star5.png" alt="">
          <img class="sp" src="<%= productRootPath %>img/img_voice_star5_sp.png" alt="">
        </li><!-- 星 -->
        <li class="user">50歳/女性</li>
      </ul>
      <p class="voice_text">思っていたよりさらっとしたテクスチャーだけど、物足りなさはなく、これだけでもいいかもと思えるほど。<br>
100円玉大を2回分という量なのに、馴染みが良いです。手になじませるとすぐにモチモチと吸いつく感じがして、今までにないテクスチャーとのギャップを感じました。化粧水後の美容液やクリームをスムーズに肌へ運ぶ道筋をつくっているような感じ。</p>
    </div>
    <div class="voice_block">
      <ul>
        <li>
          <img class="pc" src="<%= productRootPath %>img/img_voice_star4.png" alt="">
          <img class="sp" src="<%= productRootPath %>img/img_voice_star4_sp.png" alt="">
        </li><!-- 星 -->
        <li class="user">48歳/女性</li>
      </ul>
      <p class="voice_text">化粧水をつけた後、もっちり感があって手のひらに吸いつく感じ。<br>かなり潤いのあるテクスチャーで、化粧水だけでもOKかなと思ってしまうくらいでした。<br>肌なじみの良さだけでなく、香りもとても良かったです。</p>
    </div>
    <div class="voice_block">
      <ul>
        <li>
          <img class="pc" src="<%= productRootPath %>img/img_voice_star4.png" alt="">
          <img class="sp" src="<%= productRootPath %>img/img_voice_star4_sp.png" alt="">
        </li><!-- 星 -->
        <li class="user">43歳/女性</li>
      </ul>
      <p class="voice_text">見た目のサラッと感が良い意味で裏切られるような、しっとり潤いに満ちた感触。<br>私自身、混合肌でサラッと感としっとり感、どちらも満たしてくれるので気に入っています。季節を問わず使えそうです。</p>
    </div>
    <div class="voice_block">
      <ul>
        <li>
          <img class="pc" src="<%= productRootPath %>img/img_voice_star4.png" alt="">
          <img class="sp" src="<%= productRootPath %>img/img_voice_star4_sp.png" alt="">
        </li><!-- 星 -->
        <li class="user">49歳/女性</li>
      </ul>
      <p class="voice_text">化粧水の感触、香りのバランスが良いと感じました。<br>手に出すと思ったよりさらっとしている印象でしたが、潤いは高いと思います。水をほぼ使用していない、こだわりの成分で作られているのが魅力ですね。</p>
    </div>
  </div>
  <!-- /.voice_area -->
  <div class="media">
      <p id="media01"><img src="<%= productRootPath %>img/media_01.png" alt=""></p>
      <p><img src="<%= productRootPath %>img/media_02.png" alt=""></p>
      <p><img src="<%= productRootPath %>img/media_03.png" alt=""></p>
      <p><img src="<%= productRootPath %>img/media_04.png" alt=""></p>
  </div>
  <div>
      <p><img src="<%= productRootPath %>img/instagram_01.png" alt=""></p>
  </div>
  <div class="cta_water">
    <p><img src="<%= productRootPath %>img/cta_water_main_01.png" alt=""></p>
    <p><img src="<%= productRootPath %>img/cta_water_main_02.png" alt=""></p>
    <p><img src="<%= productRootPath %>img/cta_water_main_03.png" alt=""></p>
    <a href="<%= frontURL %>cart/set?code=RNS1&cycle=1&quantity=1"><img src="<%= productRootPath %>img/button_water_teiki.png" alt=""></a>
    <div class="tujo">
       <p class="price"><img src="<%= productRootPath %>img/cta_water_main_04.png" alt=""></p>
       <p class="button">
        <a href="<%= frontURL %>cart/set?code=NS1&cycle=1&quantity=1"><img src="<%= productRootPath %>img/button_tujo.png" alt=""></a>
      </p>
    </div>
    <p><img src="<%= productRootPath %>img/cta_water_main_05.png" alt=""></p>
  </div>
  <div class="osusume">
    <p id="osusume01"><img src="<%= productRootPath %>img/osusume_title_01.png" alt=""></p>
    <p><img src="<%= productRootPath %>img/osusume_title_02.png" alt=""></p>
    <p><img src="<%= productRootPath %>img/osusume_title_03.png" alt=""></p>
    <p><img src="<%= productRootPath %>img/osusume_title_04.png" alt=""></p>
    <p><img src="<%= productRootPath %>img/osusume_title_05.png" alt=""></p>
  </div>
  <div class="osusume_points">
    <p><img src="<%= productRootPath %>img/osusume_points78_01.png" alt=""></p>
    <p><img src="<%= productRootPath %>img/osusume_points78_02.png" alt=""></p>
  </div>
  <div class="cta_set">
    <p><img src="<%= productRootPath %>img/cta_set_title_01.png" alt=""></p>
    <p><img src="<%= productRootPath %>img/cta_set_01.png" alt=""></p>
    <p><img src="<%= productRootPath %>img/cta_set_02.png" alt=""></p>
    <p><img src="<%= productRootPath %>img/cta_set_03.png" alt=""></p>
    <p><img src="<%= productRootPath %>img/cta_set_04.png" alt=""></p>
    <a href="<%= frontURL %>cart/set?code[]=RNS1&code[]=RNS2&code[]=RNS3&cycle=1&quantity=1"><img src="<%= productRootPath %>img/cta_btn_set_teiki_01.png" alt=""></a>
  </div>
  <div>
    <p><img src="<%= productRootPath %>img/set_manzokudo_01.png" alt=""></p>
  </div>
  <div class="lineup">
    <div class="title">
      <p><img src="<%= productRootPath %>img/lineup_title_01.png" alt=""></p>
    </div>
    <div class="water">
      <p><img src="<%= productRootPath %>img/lineup_water_01.png" alt=""></p>
    <div class="nyueki">
      <p id="nyueki01"><img src="<%= productRootPath %>img/lineup_nyueki_01.png" alt=""></p>
      <p><img src="<%= productRootPath %>img/cta_nyueki_01.png" alt=""></p>
      <p><img src="<%= productRootPath %>img/cta_nyueki_02.png" alt=""></p>
      <a href="<%= frontURL %>cart/set?code=RNS2&cycle=1&quantity=1"><img src="<%= productRootPath %>img/button_water_teiki.png" alt=""></a>
      <div class="tujo">
         <p class="price"><img src="<%= productRootPath %>img/cta_nyueki_03.png" alt=""></p>
         <p class="button">
          <a href="<%= frontURL %>cart/set?code=NS2&cycle=1&quantity=1"><img src="<%= productRootPath %>img/button_tujo.png" alt=""></a>
        </p>
      </div>
      <p><img src="<%= productRootPath %>img/cta_nyueki_04.png" alt=""></p>
      <p><img src="<%= productRootPath %>img/cta_nyueki_05.png" alt=""></p>
      <div class="voice_area">
        <div class="voice_block">
          <ul>
            <li>
              <img class="pc" src="<%= productRootPath %>img/img_voice_star5.png" alt="">
              <img class="sp" src="<%= productRootPath %>img/img_voice_star5_sp.png" alt="">
            </li><!-- 星 -->
            <li class="user">48歳/女性</li>
          </ul>
          <p class="voice_text">水分たっぷりなのに、ベタつきはありません。<br>なじみが早く、みずみずしいつけ心地がとても気に入りました。<br>少量でもかなり伸びるので、コスパが良いですね。</p>
        </div>
        <div class="voice_block">
          <ul>
            <li>
              <img class="pc" src="<%= productRootPath %>img/img_voice_star5.png" alt="">
              <img class="sp" src="<%= productRootPath %>img/img_voice_star5_sp.png" alt="">
            </li><!-- 星 -->
            <li class="user">43歳/女性</li>
          </ul>
          <p class="voice_text">まず、ボトルがプッシュ式になっているところが使いやすくていいです。テクスチャーの固さがほど良く、伸びも良いのでムラなくぬれます。この
くらいのテクスチャーだと塗りやすく、扱いやすいですね。サラサラすぎる美容液は好きではないけど、エニストの美容乳液はOKです。</p>
        </div>
        <div class="voice_block">
          <ul>
            <li>
              <img class="pc" src="<%= productRootPath %>img/img_voice_star5.png" alt="">
              <img class="sp" src="<%= productRootPath %>img/img_voice_star5_sp.png" alt="">
            </li><!-- 星 -->
            <li class="user">50歳/女性</li>
          </ul>
          <p class="voice_text">柔らかすぎないテクスチャーなので、肌に伸ばしやすい。手で温めてからなじませるように、ハンドプレスをしています。<br>ベタつきもなく、潤いを感じられました。</p>
        </div>
        <div class="voice_block">
          <ul>
            <li>
              <img class="pc" src="<%= productRootPath %>img/img_voice_star4.png" alt="">
              <img class="sp" src="<%= productRootPath %>img/img_voice_star4_sp.png" alt="">
            </li><!-- 星 -->
            <li class="user">49歳/女性</li>
          </ul>
          <p class="voice_text">適度なとろみ感があり、なめやかで肌なじみ・伸びもよく、好みの感触でした。<!-- 柔らかすぎないテクスチャーなので、肌に伸ばしやすい。手で温めてからなじませるように、ハンドプレスをしています。<br>ベタつきもなく、潤いを感じられました。 --></p>
        </div>
        <div class="voice_block">
          <ul>
            <li>
              <img class="pc" src="<%= productRootPath %>img/img_voice_star4.png" alt="">
              <img class="sp" src="<%= productRootPath %>img/img_voice_star4_sp.png" alt="">
            </li><!-- 星 -->
            <li class="user">37歳/女性</li>
          </ul>
          <p class="voice_text">少ない量でも潤いがあります。<br>普段美容液はべたつくので使わないんですが、エニストの美容乳液はベタベタしないので好きです。</p>
        </div>
      </div>
      <!-- /.voice_area -->
    </div>
    <p><img src="<%= productRootPath %>img/arrow_nyueki-cream.png" alt=""></p>
    <div class="cream">
      <p id="cream01"><img src="<%= productRootPath %>img/cta_cream_01.png" alt=""></p>
      <p><img src="<%= productRootPath %>img/cta_cream_02.png" alt=""></p>
      <p><img src="<%= productRootPath %>img/cta_cream_03.png" alt=""></p>
      <p><img src="<%= productRootPath %>img/cta_cream_04.png" alt=""></p>
      <a href="<%= frontURL %>cart/set?code=RNS3&cycle=1&quantity=1"><img src="<%= productRootPath %>img/button_water_teiki.png" alt=""></a>
      <div class="tujo">
         <p class="price"><img src="<%= productRootPath %>img/cta_cream_05.png" alt=""></p>
         <p class="button">
          <a href="<%= frontURL %>cart/set?code=NS3&cycle=1&quantity=1"><img src="<%= productRootPath %>img/button_tujo.png" alt=""></a>
        </p>
      </div>
      <p><img src="<%= productRootPath %>img/cta_cream_06.png" alt=""></p>
      <p><img src="<%= productRootPath %>img/cta_cream_07.png" alt=""></p>
      <p><img src="<%= productRootPath %>img/cta_cream_08.png" alt=""></p>
      <div class="voice_area">
        <div class="voice_block">
          <ul>
            <li>
              <img class="pc" src="<%= productRootPath %>img/img_voice_star5.png" alt="">
              <img class="sp" src="<%= productRootPath %>img/img_voice_star5_sp.png" alt="">
            </li><!-- 星 -->
            <li class="user">55歳/女性</li>
          </ul>
          <p class="voice_text">高級感のあるパッケージが良かったです。また、ベタつかずにしっとりとしたテクスチャーなので、使いやすく感じました。量もたっぷり入っているので、コスパが良いと思います。香りがほとんどないところも使いやすくて良かったです。</p>
        </div>
        <div class="voice_block">
          <ul>
            <li>
              <img class="pc" src="<%= productRootPath %>img/img_voice_star5.png" alt="">
              <img class="sp" src="<%= productRootPath %>img/img_voice_star5_sp.png" alt="">
            </li><!-- 星 -->
            <li class="user">54歳/女性</li>
          </ul>
          <p class="voice_text">朝起きて、顔を洗うときになっても、保湿されている感じが残っています。<br>濃厚なので、少量でも良いかも。気になる部分には重ねて使っています。<br>クリームが形状記憶のように、ピッタリと肌にはりつく感じが好きです。</p>
        </div>
        <div class="voice_block">
          <ul>
            <li>
              <img class="pc" src="<%= productRootPath %>img/img_voice_star5.png" alt="">
              <img class="sp" src="<%= productRootPath %>img/img_voice_star5_sp.png" alt="">
            </li><!-- 星 -->
            <li class="user">48歳/女性</li>
          </ul>
          <p class="voice_text">クリームのイメージが変わりました。水分たっぷりでさっぱりなのに、しっかりフタをしてくれそう。心地良い潤い感やプルプル弾力性のあるテクスチャーがとても気に入りました。</p>
        </div>
        <div class="voice_block">
          <ul>
            <li>
              <img class="pc" src="<%= productRootPath %>img/img_voice_star5.png" alt="">
              <img class="sp" src="<%= productRootPath %>img/img_voice_star5_sp.png" alt="">
            </li><!-- 星 -->
            <li class="user">55歳/女性</li>
          </ul>
          <p class="voice_text">夜たっぷりクリームを塗っています。スーッとのびて気持ちがいいです。夕方でもどんよりしなくなったし、鏡の前に行く回数も少なくなりました。</p>
        </div>
        <div class="voice_block">
          <ul>
            <li>
              <img class="pc" src="<%= productRootPath %>img/img_voice_star4.png" alt="">
              <img class="sp" src="<%= productRootPath %>img/img_voice_star4_sp.png" alt="">
            </li><!-- 星 -->
            <li class="user">61歳/女性</li>
          </ul>
          <p class="voice_text">薄いクリーム色でぷるんとしたテクスチャーはとても自分の好みでした。少量でも伸びが良く、とても使い心地が良かったです。品質も良く、信頼感をもって使用できました。</p>
        </div>
        <div class="voice_block">
          <ul>
            <li>
              <img class="pc" src="<%= productRootPath %>img/img_voice_star4.png" alt="">
              <img class="sp" src="<%= productRootPath %>img/img_voice_star4_sp.png" alt="">
            </li><!-- 星 -->
            <li class="user">60歳/女性</li>
          </ul>
          <p class="voice_text">プルプルの感触で伸びが良い。サラッとした触り心地ですが、しっとり感も感じられます。クリームの肌色が高級感があり、開けて使うたびにリッチな気分になります。</p>
        </div>
        <div class="voice_block">
          <ul>
            <li>
              <img class="pc" src="<%= productRootPath %>img/img_voice_star3.png" alt="">
              <img class="sp" src="<%= productRootPath %>img/img_voice_star3_sp.png" alt="">
            </li><!-- 星 -->
            <li class="user">37歳/女性</li>
          </ul>
          <p class="voice_text">クリーム自体がプルンとしていて、塗心地が気持ち良いです。とてもしっとりしていて保湿力が高いと感じました。</p>
        </div>
      </div>
      <!-- /.voice_area -->
    </div>
  </div>
  </div>

  <div class="cta_set">
    <p><img src="<%= productRootPath %>img/cta_set_title_01.png" alt=""></p>
    <p><img src="<%= productRootPath %>img/cta_set_01.png" alt=""></p>
    <p><img src="<%= productRootPath %>img/cta_set_02.png" alt=""></p>
    <p><img src="<%= productRootPath %>img/cta_set_03.png" alt=""></p>
    <p><img src="<%= productRootPath %>img/cta_set_04.png" alt=""></p>
    <a href="<%= frontURL %>cart/set?code[]=RNS1&code[]=RNS2&code[]=RNS3&cycle=1&quantity=1"><img src="<%= productRootPath %>img/cta_btn_set_teiki_01.png" alt=""></a>
  </div>

  <div class="call">
      <p><img src="<%= productRootPath %>img/call_01.png" alt=""></p>
      <a href="tel:0120237600"><img src="<%= productRootPath %>img/call_02.png" alt=""></a>
  </div>

  <div id="faq">
    <div class="aligncenter">
      <p>
        <img src="<%= productRootPath %>img/img_faq_title_sp.png" alt="よくある質問">
      </p>

      <div class="faq_list">
        <div class="faq_block faq_acc1">
          <p class="faq_acc_btn">化粧品の保存方法は？</p>
          <div class="inner">
            <img src="<%= productRootPath %>img/img_answer_storage_sp.png" alt="極度に高温、または低温の場所には保管せず、常温で保管をしてください。">
          </div>
        </div>
        <div class="faq_block faq_acc2">
          <p class="faq_acc_btn">エニストシリーズの使用の順番を教えてください</p>
          <div class="inner">
            <img src="<%= productRootPath %>img/img_answer_order_sp.png" alt="化粧水、美容乳液、クリームの順番でご使用ください。">
          </div>
        </div>
        <div class="faq_block faq_acc3">
          <p class="faq_acc_btn">化粧品に使用期限はありますか？</p>
          <div class="inner">
            <img src="<%= productRootPath %>img/img_answer_period_sp.png" alt="未開封の場合は3年以内に使用してください。">
          </div>
        </div>
        <div class="faq_block faq_acc4">
          <p class="faq_acc_btn">敏感肌でも使用できますか？</p>
          <div class="inner">
            <img src="<%= productRootPath %>img/img_answer_sensitive_sp.png" alt="販売している全ての商品はパッチテストを行っておりますが、全ての方に刺激が起こらないわけではありません。">
          </div>
        </div>
        <div class="faq_block faq_acc5">
          <p class="faq_acc_btn">他のブランドと併用しても大丈夫ですか？またラインで使った方がいいですか？</p>
          <div class="inner">
            <img src="<%= productRootPath %>img/img_answer_combined_sp.png" alt="他のブランド製品と併せてお使いいただけます。">
          </div>
        </div>
        <div class="faq_block faq_acc6">
          <p class="faq_acc_btn">肌に異常が現れた場合、どうすればいいですか？</p>
          <div class="inner">
            <img src="<%= productRootPath %>img/img_answer_abnormality_sp.png" alt="ただちに使用を中止し、特に次のような場合は皮膚科専門医にご相談ください。">
          </div>
        </div>
        <!-- /.faq_block -->
      </div>
      <!-- /.faq_list -->
      <p>
        <!-- <img class="pc"  src="<%= productRootPath %>img/img_faq_comment.png" alt="※1角層まで ※2年齢を重ねた肌のこと">
        <img class="sp" src="<%= productRootPath %>img/img_faq_comment_sp.png" alt="※1角層まで ※2年齢を重ねた肌のこと"> -->
      </p>
    </div>
    <!-- /.aligncenter -->
  </div>
  <!-- /#faq -->

<div id="component">
  <div class="aligncenter pc">
    <p><img src="<%= productRootPath %>img/img_component_title.png" alt="全成分"></p>
    <p><img src="<%= productRootPath %>img/img_component_lotion.png" alt="ザ ベース ローション"></p>
    <p><img src="<%= productRootPath %>img/img_component_serum.png" alt="ザ アクティベイテッド セラム"></p>
    <p><img src="<%= productRootPath %>img/img_component_cream.png" alt="ザ リアウェイクニング クリーム"></p>
  </div>
  <div class="sp">
    <p><img src="<%= productRootPath %>img/img_component_title_sp.jpg" alt="全成分"></p>
    <p><img src="<%= productRootPath %>img/img_component_lotion_sp.jpg" alt="ザ ベース ローション"></p>
    <p><img src="<%= productRootPath %>img/img_component_serum_sp.jpg" alt="ザ アクティベイテッド セラム"></p>
    <p><img src="<%= productRootPath %>img/img_component_cream_sp.jpg" alt="ザ リアウェイクニング クリーム"></p>
  </div>
</div>
<!-- /#component -->
<%- include(`${commonComponentPath}_common_oshirase`, {commonRootPath, productRootPath}) %>

<div id="buy_list">
    <div class="aligncenter">
      <p class="pc"><img src="<%= productRootPath %>img/img_buylist_pc.png" alt=""></p>
      <p class="sp"><img src="<%= productRootPath %>img/img_buylist_sp.png" alt=""></p>
    </div>
</div>
<!-- /#buy_list -->



</div>
<!-- /nst -->

</main>
<!-- /main -->

<%- include(`${commonComponentPath}_common_footer`, {commonRootPath, productRootPath}) %>

</body>

</html>
