<dl class="epa600_tujo noborder">
  <!-- <dt><img class="js-res_img" src="<%= productRootPath %>img/epa600_single_tit_pc.png" alt="エパゴールド600単品"></dt> -->
  <dd class="clearfix">
    <p class="floatleft pc"><img class="js-res_img" src="<%= productRootPath %>img/bg_tujo_600_pc.png"
        alt="7,200円"></p>
    <p class="floatleft sp"><img class="js-res_img"
        src="<%= productRootPath %>img/epa600_single_item_sp.png" alt="7,200円"></p>
    <p class="floatright"><a
        href="<%= frontURL %>cart/set?code=559&cycle=1&quantity=1" class="epa600_g1_tj_01"><img
          src="<%= productRootPath %>img/epa_single_btn_pc.png" alt="単品価格で購入する"></a></p>
  </dd>
</dl>
