<div class="cta_0830_epa600 mkw">
  <p class="icon pc"><img class="js-res_img" src="<%= productRootPath %>img/icon_600_pc.png"
      alt="1日4粒でEPA600mg"></p>
  <p class="icon_mkw pc"><img class="js-res_img" src="<%= productRootPath %>img/mkw_cta_img.png"
  alt="1日4粒でEPA600mg"></p>
  <p class="price pc"><img class="js-res_img" src="<%= productRootPath %>img/img_600_price_pc.png"
      alt="エパゴールド600 120粒入り（1日4粒目安  約30日分）特許取得！小林式EPA配合サプリメント"></p>
  <p class="osusume pc"><img class="js-res_img" src="<%= productRootPath %>img/img_osusume_600_pc.png"
      alt="より実感した方に、１日4粒がおすすめ！"></p>
  <p class="button pc"><a
      href="<%= frontURL %>cart/set?code=R59&cycle=1&quantity=1" class="epa600_g1_tk_01"><img
        src="<%= productRootPath %>img/button_buy_pc.png" alt="お得な定期コースのお申込みはこちら"></a></p>
  <p class="button sp"><a
      href="<%= frontURL %>cart/set?code=R59&cycle=1&quantity=1" class="epa600_g1_tk_01"><img
        src="<%= productRootPath %>img/button_circle_sp.png" alt="お得な定期コースのお申込みはこちら"></a></p>
  <!-- <ul class="caution pc">
    <li>※お得な定期コースは、およそ30日間隔で自動的に商品をお届けするコースです。</li>
    <li>※実感いただくために、<span>3回以上のご継続</span>をお約束頂いております。</li>
    <li>※3回のお受け取りでエパゴールド600の合計18,900円(税込)となります。</li>
    <li>※4回目以降からはいつでも日程変更、一時休止、再開、解約などが可能です。<br>次回お届けの10日前にご連絡ください。</li>
  </ul> -->
</div>
