<dl class="epakotsubu_tujo noborder">
  <!-- <dt><img class="js-res_img" src="<%= productRootPath %>img/epa300_single_tit_pc.png" alt="エパゴールド300単品"></dt> -->
  <dd class="clearfix">
    <p class="floatleft pc"><img class="js-res_img" src="<%= productRootPath %>img/bg_tujo_kotsubu_pc.png"
        alt=""></p>
    <p class="floatleft sp"><img class="js-res_img"
        src="<%= productRootPath %>img/epakotsubu_single_item_sp.png" alt=""></p>
    <p class="floatright">
      <a
        href="<%= frontURL %>cart/set?code=549&cycle=1&quantity=1" class="epa300_g1_tj_01">
        <img class="js-res_img" src="<%= productRootPath %>img/epa_single_btn_pc.png" alt="単品価格で購入する">
      </a>
    </p>
  </dd>
</dl>
