<head>
  <meta charset="utf-8">
  <meta name="keywords" content="ラフィーネ,エパゴールド,小林式EPA,小林誠,オリエンタルバイオ">
  <meta name="description" content="健康リスクが気になる方に　２つの特許取得　「小林式EPA」配合　エパゴールド">
  <title>小林式EPA配合 エパゴールド</title>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="facebook-domain-verification" content="3di5lwsx4yb1dwy6eqvh84h2p61qvt" />

  <!-- 共通リソース -->
  <link rel="stylesheet" href=" <%= commonRootPath %>css/common.css" type="text/css" media="all">
  <script src=" <%= commonRootPath %>js/common.js"></script>
  <!-- /共通リソース -->

  <!-- 専用リソース -->
  <link rel="stylesheet" href="<%= productRootPath %>css/style.css" type="text/css" media="all">
  <script src="<%= productRootPath %>js/main.js"></script>
  <!-- /専用リソース -->

  <!-- 共通CSS -->
  <!-- fontfamily 追加用 -->
      <script>
        (function(d) {
          var config = {
            kitId: 'wrj1jkv',
            scriptTimeout: 3000,
            async: true
          },
          h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
        })(document);
      </script>
  <!--[if lt IE 9]>
<script src=" <%= commonRootPath %>js/vendor/css3-mediaqueries.js"></script>
<script src=" <%= commonRootPath %>js/vendor/html5shiv.js"></script>
<![endif]-->

  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-PH4SDD');</script>
  <!-- End Google Tag Manager -->

</head>
