<head prefix=”og: http://ogp.me/ns#”>
  <meta charset="utf-8">
  <meta name="keywords" content="KENCOS4,オリエンタルバイオ">
  <meta name="description" content="KENCOSは、ポータブルタイプの新しい水素吸引具です。スマホ感覚で持ち歩けるコンパクトさで、お好きなときに口から水素吸引可能な自然なスタイル。日本製なので安心してご使用いただけます">
  <title>あの著名人も絶賛のポータブル水素吸引具KENCOS4</title>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:url" content="<%= frontURL %>lp/kencos/<%= ogpData.url %>" />
  <meta property="og:title" content="あの著名人も絶賛のポータブル水素吸引具KENCOS4" />
  <meta property="og:description" content=" KENCOSは、ポータブルタイプの新しい水素吸引具です。スマホ感覚で持ち歩けるコンパクトさで、お好きなときに口から水素吸引可能な自然なスタイル。日本製なので安心してご使用いただけます" />
  <meta property="og:site_name" content="あの著名人も絶賛のポータブル水素吸引具KENCOS4" />
  <meta property="og:image" content="<%= productRootPath %>img/ogp.png" />

  <!-- 共通リソース -->
  <link rel="stylesheet" href="<%= commonRootPath %>css/common.css" type="text/css" media="all">
  <script src="<%= commonRootPath %>js/common.js"></script>
  <!-- /共通リソース -->
  <!-- 専用リソース -->
  <link rel="stylesheet" href="<%= productRootPath %>css/style.css" type="text/css" media="all">
  <link rel="stylesheet" type="text/css" href="<%= productRootPath %>css/slick.css">
  <link rel="stylesheet" type="text/css" href="<%= productRootPath %>css/slick-theme.css">
  <!-- /専用リソース -->
  <!-- 共通CSS -->
  <!--[if lt IE 9]>
<script src="<%= commonRootPath %>js/vendor/css3-mediaqueries.js"></script>
<script src="<%= commonRootPath %>js/vendor/html5shiv.js"></script>
<![endif]-->

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
          'gtm.start':
            new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-PH4SDD');</script>
    <!-- End Google Tag Manager -->

</head>
