<!-- id="approach"だと旧CSS(他のverで使用)のスタイルが適用される -->
<section id="approach2" class="approach">
  <div class="center_contents">
    <picture>
      <source media="(max-width: 640px)" srcset="<%= productRootPath %>img/approach_title_sp.png">
        <img src="<%= productRootPath %>img/approach_title_pc.png" width="750" height="218" alt="とことんこだわったポイントは本来持った力を活かす3つのアプローチ" >
    </picture>
    <div class="u-mgb-m"></div>
    <picture>
      <source media="(max-width: 640px)" srcset="<%= productRootPath %>img/approach_01_image_sp.png">
        <img src="<%= productRootPath %>img/approach_01_image_pc.png" width="750" height="2154" alt="1つ目、強く。臨床試験と同量の2000億個のK-2乳酸菌を配合。" >
    </picture>
    <picture>
      <source media="(max-width: 640px)" srcset="<%= productRootPath %>img/approach_02_image_sp.png">
        <img src="<%= productRootPath %>img/approach_02_image_pc.png" width="750" height="2506" alt="2つ目、美しく。ビオチンは皮膚の粘膜や健康維持に役立つ重要なビタミンです。アレルナイトプラスはビオチンを60マイクログラム配合。" >
    </picture>
    <picture>
      <source media="(max-width: 640px)" srcset="<%= productRootPath %>img/approach_03_image_sp.png">
        <img src="<%= productRootPath %>img/approach_03_image_pc.png" width="750" height="2151" alt="3つ目、健やかに。質の良い十分な睡眠のために、ラフマ葉やギャバなどの主役級成分に加え3種のハーブも配合。" >
    </picture>
  </div>
</section>