<!--　お客様の声コンテンツ -->
<div id="change" class="change">
  <div class="change__inner">
    <div class="change__ttl"><img src="<%= productRootPath %>img/change_title.png" alt=""></div>
    <div class="change__box"><img src="<%= productRootPath %>img/change_box_04.png" alt=""></div>
    <div class="change__box"><img src="<%= productRootPath %>img/change_box_01.png" alt=""></div>
    <!-- <div class="change__box"><img src="<%= productRootPath %>img/change_box_02.png" alt=""></div> -->
    <!-- <div class="change__box"><img src="<%= productRootPath %>img/change_box_03.png" alt=""></div>-->
    <span>※個人の感想であり、実際には個人差があります。</span>
  </div>
</div>
<!--　/お客様の声コンテンツ -->
    