<section id="component" class="js-float__open">
          <div class="inner">
            <div id="care">
              <h3>
                <img class="js-res_img" src="<%= productRootPath %>img/care_txt_pc.png" alt="刺激に敏感。巡る季節。ケアに悩んでいませんか？" />
              </h3>
              <p>
                毎日のストレス、季節や環境の変化。<br />
                最近は、刺激に敏感な人が増えていると言われています。
              </p>
              <p>
                大人になってからも、<br />
                環境などがどうしても<br class="sp" />気になってしまうもの。<br />
                そんな、ケアに悩んでお過ごしの方<br class="sp" />も多いのではないでしょうか。
              </p>
              <p>
                毎日を快適に過ごすために、<br />
                <strong>カラダの中からバランスを整える<br class="sp" />ことはもちろん、<br />
                  不足しやすい栄養素の補給や、<br class="sp" />深い休息、心のケア</strong>も大切です。
              </p>
              <h4><img class="js-res_img" src="<%= productRootPath %>img/kaihatsu_pc.png" alt="そこで、開発された" /></h4>
            </div>
            <p class="water">
              <img class="js-res_img" src="<%= productRootPath %>img/water_pc.png" alt="贅沢成分をたっぷり1本に！" />
            </p>

            <div id="kodawari">
              <h3><img class="js-res_img" src="<%= productRootPath %>img/3_pc.png" alt="5つのこだわり" /></h3>
              <div class="block point01_n" id="point01">
                <h4>選んだのは「酒粕」由来の乳酸菌</h4>
                <p>
                  乳酸菌はどれも同じだと思っていませんか？<br />
                  いいえ！乳酸菌にも、いろいろな種類があります。<br />
                  <strong>ヒトにも個性があるように、<br class="sp" />乳酸菌も菌株によって<br class="tab" />その能力は異なります。</strong><br />
                   <br />
                  ストレスや環境の変化で、<br class="sp" />バランスを崩しがちな<br />
                  現代人の「快適」に有用なのは<br />
                  <strong>酒粕由来の<br class="sp" />「K-2乳酸菌（植物性ラクトバチルス乳酸菌）」。</strong><br />
                  <br />
                  その臨床研究は<br />
                  <strong>日本農芸化学会などでも発表</strong>されています。<br />
                  さらに、アレルナイトプラスには<br class="sp" />研究結果より導き出された量を<br class="pc" /><br class="sp" />
                  手軽にしっかりとれるように配合しています。
                </p>
              </div>
              <div class="block" id="point02">
                <h4>専門家も注目の成分</h4>
                <p>
                  <strong>ビオチン<em>※2</em>は不足すると<br class="sp" />皮膚や粘膜の健康に<br class="pc" />影響を及ぼすと考えられています。</strong><br />
                  人体に欠かせない働きも持つことから、<br class="pc" />専門家の間でも注目を浴びています。<br />
                  <strong>アレルナイトプラス一本で、<br class="sp" />ビオチンの一日の目安量<em>※3</em>を<br class="tab" />摂取可能。</strong><br />
                  さらに、現代人の食生活では不足しやすい栄養素のひとつといわれる<br />
                  <strong>ビタミンB群（７種類）もまとめて配合</strong>しています。
                </p>
                <div class="bio">
                  ※1 ビオチンに対しての説明です。 <br class="sp" />※2 ビオチンは皮膚や粘膜の健康維持に必要な栄養素です。<br>
                  ※3 一日の成人の目安量（50μｇ）日本人の食事摂取基準（2015 年版） 参照
                </div>
                <table border="0" cellpadding="0" cellspacing="0">
                  <caption>＜栄養成分表示＞</caption>
                  <tr>
                    <th>ビオチン</th>
                    <td>60μg<br><small>(120％)※</small></td>
                  </tr>
                  <tr>
                    <th>ビタミンB<span>12</span></th>
                    <td>3μg</td>
                  </tr>
                  <tr>
                    <th>ビタミンB<span>1</span></th>
                    <td>10mg</td>
                  </tr>
                  <tr>
                    <th>ナイアシン</th>
                    <td>30mg</td>
                  </tr>
                  <tr>
                    <th>ビタミンB<span>2</span></th>
                    <td>40mg</td>
                  </tr>
                  <tr>
                    <th>パントテン酸</th>
                    <td>30mg</td>
                  </tr>
                  <tr>
                    <th>ビタミンB<span>6</span></th>
                    <td>20mg</td>
                  </tr>
                  <tr>
                    <th>葉酸</th>
                    <td>400μg</td>
                  </tr>
                </table>
                <span class="table__comment">※（）の数字は、1日当たりの摂取目安量に含まれる当該栄養成分の量が、栄養素等表示基準値2015（18歳以上、基準熱量2,200kcal）に占める割合</span>
              </div>
              <!-- 20200408 追加 ラフマ葉コンテンツ -->
              <div class="block point03--rg" id="point03">
                <h4>休息時におすすめの成分</h4>
                <p>
                  敏感デリケートな方こそ<br class="sp">
                  <strong>質のいい十分な休息</strong>が大切です。<br><br>
                  そこで、ゆったりとした休息時に積極的に補いたい<br>
                  <strong>主役級の成分を配合</strong>しました。<br><br>
                  <strong>特にギャバとラフマ葉は相性がよく、</strong><br class="sp">
                  専門家からも注目されています。
                </p>
                <div class="point03__rafuma"></div>
              </div>
              <div class="block" id="point04">
                <h4>専門家と共同開発をし、<br>安心と品質に徹底的に<br class="sp">こだわりました。</h4>
                <p class="pc subimg"><img src="<%= productRootPath %>img/point04_img_pc.png" alt="安心と品質"></p>
                <p class="sp"><img src="<%= productRootPath %>img/point04_img_sp.png" alt="安心と品質"></p>
                <p class="annotation">※えび、かに、小麦、そば、卵、乳、落花生(ピーナッツ)、アーモンド、あわび、<br class="pc">いか、いくら、オレンジ、カシューナッツ、キウイフルーツ、牛肉、くるみ、<br class="pc">
                  ごま、さけ、さば、大豆、 鶏肉、バナナ、豚肉、まつたけ、もも、やまいも、りんご、ゼラチン</p>
              </div>
              <div class="block" id="point05">
                <h4>続けやすい飲み心地に</h4>
                <p>グレープフルーツ風味で<strong>毎日おいしく続けられ、<br>いろんなアレンジが楽しめます。</strong></p>
                <p>毎日続けていただくために、<br><strong>美味しく飲める味を徹底的に追求しました。</strong></p>
                <p>グレープフルーツ風味なので、<br>お水はもちろん<strong>紅茶や炭酸水に入れて<br>一緒に飲んでもおいしい</strong>と好評です。</p>
                <p class="annotation">※グレープフルーツの果汁は含まれておりません。</p>
              </div>
            </div>

            <div id="feel">
              <h3><img class="js-res_img" src="<%= productRootPath %>img/jikkan_pc.jpg" alt="そんな簡単に実感できるの？" /></h3>
              <dl>
                <dt>色んなものを使っても駄目なのに、<br />アレルナイトプラスが良い理由は？</dt>
                <dd>それは、その場かぎりの対処ではなく、<br /><strong>栄養バランス全体を見直すことが大切</strong>だから。</dd>
              </dl>
              <dl>
                <dt>なんで、アレルナイトプラスは、<br />他のサプリと違うの？</dt>
                <dd>それは、自社で今までになかった<strong>新発想の成分の<br />組み合わせと、こだわりの量が配合されている</strong>から。</dd>
              </dl>
            </div>

            <!-- <div id="linkArea04">
              <p class="btn">
                <a href="#linkArea05">
                  <img class="js-res_img" src="<%= productRootPath %>img/btn03_pc.png" alt="実感コースに参加する" />
                </a>
              </p>
               <p class="note01">対象年齢６歳以上　顆粒タイプ15本×2袋　30日分（グレープフルーツ味）</p>
              <p class="note02">※1 アレルギー特定原材料等28品目不使用</p>
            </div> -->
          </div>
        </section>