<!-- drink -->
<div id="drink" class="drink center_contents">
  <div class="drink_base">
    <img src="<%= productRootPath %>img/drink_icon.png" alt="水に溶かすなど飲み方は自由自在！" class="drink_icon">
    <div class="drink_video">
      <video type="video/mp4" class="video" poster="<%= productRootPath %>img/drink_movie.png" playsinline muted autoplay loop>
        <source src="<%= productRootPath %>video/drink_movie.mp4" type="video/mp4" />
        <img src="<%= productRootPath %>img/drink_movie.png" alt="">
      </video>
    </div>
    <div class="drink_slide_wrapper">
      <ul id="js-drink-slick" class="drink_slide">
        <li class="drink_silde_item"><img src="<%= productRootPath %>img/drink_slide_01.png" alt="画像:アレルナイトプラスを使ったレシピ1"></li>
        <li class="drink_silde_item"><img src="<%= productRootPath %>img/drink_slide_02.png" alt="画像:アレルナイトプラスを使ったレシピ2"></li>
        <li class="drink_silde_item"><img src="<%= productRootPath %>img/drink_slide_03.png" alt="画像:アレルナイトプラスを使ったレシピ3"></li>
      </ul>
    </div>
  </div>
</div>
<!-- /drink -->