<!-- drink2 -->
<section id="drink2" class="drink2 center_contents center_contents--resize">
  <img src="<%= productRootPath %>img/drink2_image_01.jpg" width="750" height="1463" alt="美味しさ・飲みやすさにもこだわりました！さっぱりとした味が癖になるグレープフルーツ風味、お子様でもさらっと飲みやすい顆粒タイプ。" loading="lazy">
  <div class="recipe">
    <img src="<%= productRootPath %>img/recipe_image_01.jpg" width="750" height="1246" alt="管理栄養士コラム：大人からお子様まで美味しく続けていただけるように、アレルナイトプラスを使ったレシピを考案しました。" loading="lazy">
    <div class="recipe_slide_wrapper">
      <ul id="js-drink-slick" class="recipe_slide">
        <li class="recipe_silde_item"><img src="<%= productRootPath %>img/recipe_slide_01.png" alt="画像:アレルナイトプラスを使ったレシピ1"></li>
        <li class="recipe_silde_item"><img src="<%= productRootPath %>img/recipe_slide_02.png" alt="画像:アレルナイトプラスを使ったレシピ2"></li>
        <li class="recipe_silde_item"><img src="<%= productRootPath %>img/recipe_slide_03.png" alt="画像:アレルナイトプラスを使ったレシピ3"></li>
        <li class="recipe_silde_item"><img src="<%= productRootPath %>img/recipe_slide_04.png" alt="画像:アレルナイトプラスを使ったレシピ3"></li>
        <li class="recipe_silde_item"><img src="<%= productRootPath %>img/recipe_slide_05.png" alt="画像:アレルナイトプラスを使ったレシピ3"></li>
      </ul>
    </div>
    <img src="<%= productRootPath %>img/recipe_image_02.jpg" width="750" height="410" alt="インスタグラムでも公開中！ハッシュタグ「#アレルナイトプラス」で検索" loading="lazy">
  </div>
  <div class="drink2_report">
    <img src="<%= productRootPath %>img/drink2_report_01.jpg" width="750" height="266" alt="ママ社員が親子で作ってみました！" loading="lazy">
    <ul class="drink2_report__list">
      <li class="drink2_report_item"><img src="<%= productRootPath %>img/drink2_report_02.jpg" width="750" height="1099" alt="息子がゼリーを楽しそうに作って食べていました。初めてのお子様にもゼリーはおすすめです！"></li loading="lazy">
      <li class="drink2_report_item"><img src="<%= productRootPath %>img/drink2_report_03.jpg" width="750" height="1159" alt="家庭にある材料で作れる手軽さが良かったです。ヨーグルトレシピの食べやすさにびっくり！"></li loading="lazy">
    </ul>
  </div>
</section>
<!-- /drink2 -->