<head>
  <meta charset="utf-8">
  <meta name="description" content="刺激・敏感・デリケートな方へ　さまざまな刺激や敏感な方のお悩みに独自の複合配合でトータルにケア！ ">
  <title>アレルナイトプラス　K-2乳酸菌（植物性ラクトバチルス乳酸菌）配合</title>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name='viewport' content='initial-scale=1, viewport-fit=cover'>

  <!-- 共通リソース -->
  <link rel="stylesheet" href="<%= commonRootPath %>css/common.css" type="text/css" media="all">
  <script src="<%= commonRootPath %>js/common.js" defer></script>
  <!-- /共通リソース -->

  <!-- 専用リソース -->
  <!-- <link rel="stylesheet" type="text/css" href="<%= commonRootPath %>css/slick.css"/>
  <link rel="stylesheet" type="text/css" href="<%= commonRootPath %>css/slick-theme.css"/> -->
  <!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

  <link rel="stylesheet" href="<%= productRootPath %>css/style.css" type="text/css" media="all">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="<%= productRootPath %>js/main.js" defer></script>  <!-- /専用リソース -->
  <!-- slick.min.js 最新のjQuery verでbodyの最後に入れたら動かなかったためhead内へ -->
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" defer></script>
  <!-- 共通CSS -->

  <!--[if lt IE 9]>
  <script src="<%= commonRootPath %>js/vendor/css3-mediaqueries.js"></script>
  <script src="<%= commonRootPath %>js/vendor/html5shiv.js"></script>
  <![endif]-->

  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-PH4SDD');</script>
  <!-- End Google Tag Manager -->
</head>
