<section class="kuchikomi" id="kuchikomi">
  <div class="inner">
    <div class="sp">
      <img src="<%= productRootPath %>img/kuchikomi_image_sp.png" width="656" height="1539" alt="キレイに敏感な方はもう取り入れています！口コミ１「8歳の娘に飲ませていますが、おかげさまで快適みたい」口コミ２「18歳高校生の男子ですが、姉にも私にも教えてよと言われました」口コミ３「思い切ってお小遣いで購入しました。おかげさまで今は大学でも笑顔で過ごせます」" >
    </div>
    <div class="pc">
      <div class="kuchikomi__ttl center_contents u-mgb-l">
        <img src="<%= productRootPath %>img/kuchikomi_title_pc.png" width="656" height="1539" alt="キレイに敏感な方はもう取り入れています！" >
      </div>
      <div class="kuchikomi__inner">
        <div class="kuchikomi__content kuchikomi__content--01">
          <img src="<%= productRootPath %>img/kuchikomi_image_child_pc.png" width="1039" height="562" alt="口コミ１「8歳の娘に飲ませていますが、おかげさまで快適みたい」" >
        </div>
        <div class="kuchikomi__content kuchikomi__content--01">
          <img src="<%= productRootPath %>img/kuchikomi_image_man_pc.png" width="976" height="551" alt="口コミ２「18歳高校生の男子ですが、姉にも私にも教えてよと言われました」" >
        </div>
        <div class="kuchikomi__content kuchikomi__content--01">
          <img src="<%= productRootPath %>img/kuchikomi_image_young_pc.png" width="1044" height="549" alt="口コミ３「思い切ってお小遣いで購入しました。おかげさまで今は大学でも笑顔で過ごせます」" >
        </div>
      </div>
    </div>
  </div>
</section>