<section class="nayami">
  <div class="inner js-float__close">
      <div class="impression impres01">
        <p><img class="js-res_img" src="<%= productRootPath %>img/try_pc.png" alt="あなたも『アレルナイトプラス』を試してみませんか？" /></p>
      </div>
      <div class="js-banner-hidden">
        <div id="banner-hide-target01" class="cta_b link_area">
          <div class="linkArea__icon"><img src="<%= productRootPath %>img/icon_murakami.png" alt=""></div>
          <p class="btn tab">
            <a href="<%= frontURL %>cart/set?code=R25&cycle=1&quantity=1" class="">
              <img src="<%= productRootPath %>img/btn01_pc.png" alt="お得な定期コースのお申込みはこちら" />
            </a>
          </p>
          <div class="sp">
            <img src="<%= productRootPath %>img/cta-murakami_sp.png" alt="">
            <div class="linkArea__icon"><img src="<%= productRootPath %>img/icon_murakami.png" alt=""></div>
            <p class="btn">
              <a href="<%= frontURL %>cart/set?code=R25&cycle=1&quantity=1" class="">
                <img src="<%= productRootPath %>img/button_circle_sp.png" alt="">
              </a>
            </p>
          </div>
        </div>
        <div class="single pc">
          <p>
            <a href="<%= frontURL %>cart/set?code=525&cycle=1&quantity=1" class="">
              <img class="js-res_img" src="<%= productRootPath %>img/btn02_pc.png" alt="単品コースのお申込み" />
            </a>
          </p>
        </div>
        <div class="single sp">
          <p><img src="<%= productRootPath %>img/single_sp.png" alt="今回のみの単品通常価格9000円" /></p>
          <p class="btn">
            <a
              href="<%= frontURL %>cart/set?code=525&cycle=1&quantity=1" class="">
              <img src="<%= productRootPath %>img/btn04_sp.png" alt="単品コースのお申込み" />
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>
