<section id="nayami" class="nayami">
  <h2><img class="js-res_img" src="<%= productRootPath %>img/ttl_nayami_pc.png" alt="こんなお悩みありませんか？" /></h2>
  <div class="inner">
    <ul>
      <li><img class="js-res_img" src="<%= productRootPath %>img/nayami01_pc.png" alt="" /></li>
      <li><img class="js-res_img" src="<%= productRootPath %>img/nayami02_pc.png" alt="" /></li>
      <li><img class="js-res_img" src="<%= productRootPath %>img/nayami03_pc.png" alt="" /></li>
    </ul>
    <p class="support">
      <img class="js-res_img" src="<%= productRootPath %>img/nayami_txt_pc.png" alt="そのお悩みお手伝いさせてください" />
    </p>

    <div id="approach">
      <h4>約1,800人の敏感、デリケートな方の声から生まれた</h4>
      <h3>
        <img class="js-res_img" src="<%= productRootPath %>img/approach_txt01_pc.png" alt="新しいアプローチのサプリメント" />
      </h3>
      <h5><img class="js-res_img" src="<%= productRootPath %>img/approach_txt02_pc.png" alt="アレルナイトプラス" />
      </h5>
      <p class="txt">
        さまざまな刺激や敏感な方のお悩みに<br />独自の複合配合でトータルにケア！
      </p>
      <p class="note">※2013年4月～2014年1月までに行ったアンケート1877名<br>※ビオチンは、皮膚や粘膜の健康維持を助ける栄養素です。本品は、多量摂取により疾病が治癒したり、より健康が増進するものではありません。１日の摂取目安量を守ってください。
      </p>
    </div>

    <div class="impression impres01" id="impres01">
      <h3>
        <img class="js-res_img" src="<%= productRootPath %>img/impression_txt_pc.png" alt="今までになかった新発想の配合で" />
      </h3>
      <h4><img class="js-res_img" src="<%= productRootPath %>img/ttl_many_pc.png" alt="実感の声多数！" /></h4>
      <div class="crown">
        <p><img class="js-res_img" src="<%= productRootPath %>img/crown_pc.png" alt="顧客満足度88.5％" /></p>
      </div>
      <div class="algy">
        <span>アレルギー特定原材料等不使用</span>
      </div>
      <div class="note">
        ※1 弊社初の商品設計　※2 モニターアンケートによる 「大変満足」33%、「やや満足」38%、「満足」17.5%の合計値 ※3 2019年5月自社調べ
        ※4えび、かに、小麦、そば、卵、乳、落花生(ピーナッツ)、アーモンド、あわび、いか、いくら、オレンジ、カシューナッツ、キウイフルーツ、牛肉、くるみ、ごま、さけ、さば、大豆、鶏肉、
        バナナ、豚肉、まつたけ、もも、やまいも、りんご、ゼラチン
      </div>
    </div>
  </div>
</section>