<div class="pleasure" id="pleasure">
  <div class="inner">
    <h4 class="pleasure__subttl"><img class="pc" src="<%= productRootPath %>img/pleasure_h4_pc.png" alt=""><img class="sp" src="<%= productRootPath %>img/pleasure_h4_sp.png" alt=""></h4>
    <h3 class="pleasure__ttl"><img src="<%= productRootPath %>img/pleasure_h3_pc.png" alt=""></h3>
    <div class="pleasure__content"><img class="pc" src="<%= productRootPath %>img/pleasure_graph_pc.png" alt=""><img class="sp" src="<%= productRootPath %>img/pleasure_graph_sp.png" alt=""></div>
    <span class="annotation">※ 2013年4月～12月までに行った弊社モニター25名のアンケート結果 「大変満足」33%、「やや満足」38%、「満足」17.5%の合計値</span><br>
    <span class="annotation">※ ご年齢は取材当時のものです。個人の感想であり、商品の効果を保証するものではありません。</span>
  </div>
</div>
<div class="letter">
  <div class="inner">
    <div class="letter__pgh">
      <img class="pc" src="<%= productRootPath %>img/letter_pgh01_pc.png" alt="">
      <img class="sp" src="<%= productRootPath %>img/letter_pgh01_sp.png" alt="">
    </div>
    <div class="letter__pgh">
      <img class="pc" src="<%= productRootPath %>img/letter_pgh02_pc.png" alt="">
      <img class="sp" src="<%= productRootPath %>img/letter_pgh02_sp.png" alt="">
    </div>
    <div class="letter__pgh">
      <img class="pc" src="<%= productRootPath %>img/letter_pgh03_pc.png" alt="">
      <img class="sp" src="<%= productRootPath %>img/letter_pgh03_sp.png" alt="">
    </div>
  </div>
</div>