<!-- 20200408　開発秘話差し替え -->
<section id="review" class="review">
  <div class="review__wrapper--developer review__wrapper--developer_l">
  <div class="inner">

    <div id="developer" class="developer pc">
      <!-- <h3><img class="js-res_img" src="<%= productRootPath %>img/akirame_pc.png" alt="あきらめない。きっと変われる。" />
      </h3>
      <h4><img class="js-res_img" src="<%= productRootPath %>img/akirame_hl_pc.png"
          alt="開発者が語る、食品メーカーだからできる事。" /></h4>
      <p class="developer__txt--sm">
        <strong>私自身も、幼いころからデリケートな方で、その向き合い方に試行錯誤してきました。</strong><br class="tab" /><br class="pc" />
        みなさまの気持ちがわかるから、食品メーカーの開発担当として何ができるのかを常に考え、<br class="pc" /><br class="tab" />
        まず、1800人にも及ぶモニターの方から生のお声を聞くことから始めました。<br class="pc" />
      </p>
      <p>
        <strong>「人それぞれに、ケアは異なり、正解となっているものも１つではない。」</strong><br />
        そんな、当たり前のことを思い知らされる毎日でした。<br class="sp" />ただ、共通していると感じたのは、<br />
        <strong>「外から取り入れることのみ」が<br class="sp" />ケアの中心</strong>になっているということでした。<br />
        そこで、私たちが導き出したのが、<br class="sp" />そうではなく<br />
        <strong>「本来持っている力を生かす。」<br class="sp" />ということでした。</strong><br />
        そのために採用した成分は、<br class="sp" />臨床研究で結果が<br />
        出ているものを採用し、<br class="sp" />さらにその量にも<br class="tab" />こだわりました。<br />
        専門家と共同開発の末に導き出した<br class="sp" />複合成分で、<br class="tab" /><br class="pc" />
        複数の異なる働きを持つ成分が、<br />
        多角的にご不安にアプローチする配合です。<br />
        <em>あなたの選択肢の一つとして<br />
          実感していただく事に徹底的にこだわった<br />
          「アレルナイトプラス」を<br class="sp" />考えていただければ幸いです。</em>
      </p>
      <div class="developer__name"><span>オリエンタルバイオ商品開発部 薬剤師</span>
        <p>脇 いずみ</p>
      </div> -->
        <img src="<%= productRootPath %>img/review_pc.png" alt="">
    </div>
    <div id="developer" class="developer developer_l sp">
      <img src="<%= productRootPath %>img/review_sp.png" alt="">
    </div>
  </div>
  </div>
  <div class="review__wrapper--product">
  <div class="inner">
    <div id="product">
      <h3>
        <picture>
          <source media="(min-width: 640px)" srcset="<%= productRootPath %>img/product_ttl_pc.png">
          <img src="<%= productRootPath %>img/product_ttl_sp.png"
            alt="健康食品ＧＭＰ認定の国内工場でひとつひとつ丁寧に製造しています。" />
        </picture>
      </h3>
      <p>
        敏感・デリケートな方のための商品だから、<br class="pc" />
        製造過程にもこだわりました。<br class="pc" />
        <strong>健康食品GMP認定の国内工場でひとつひとつ丁寧に<br class="pc" />
          つくられています。<br class="pc" />
          また、アレルギー特定原材料等２８品目の不使用※、<br class="pc" />
          着色料・防腐剤・ステロイドの不使用で無添加。<br class="pc" />
          優しい商品づくりを心がけています。</strong>
      </p>
      <div class="note">
        ※えび、かに、小麦、そば、卵、乳、落花生(ピーナッツ)、アーモンド、あわび、いか、いくら、オレンジ、カシューナッツ、キウイフルーツ、牛肉、くるみ、ごま、さけ、さば、大豆、
        鶏肉、バナナ、豚肉、まつたけ、もも、やまいも、りんご、ゼラチン
      </div>
      <div class="image">
        <picture>
          <source media="(min-width: 640px)" srcset="<%= productRootPath %>img/product_image_pc.png">
          <img class="js-res_img" src="<%= productRootPath %>img/product_image_sp.png" alt="工場" />
        </picture>
      </div>
    </div>

    <div class="impression">
      <h3><img class="js-res_img" src="<%= productRootPath %>img/impression_txt_pc.png" alt="今までになかった新発想の配合で" />
      </h3>
      <h4><img class="js-res_img" src="<%= productRootPath %>img/ttl_many_pc.png" alt="実感の声多数！" /></h4>
      <div class="crown">
        <p><img class="js-res_img" src="<%= productRootPath %>img/crown_pc.png" alt="顧客満足度88.5％" /></p>
      </div>
      <div class="algy">
        <span>アレルギー特定原材料等不使用</span>
      </div>
      <div class="note">
        ※1 弊社初の商品設計　※2 モニターアンケートによる 「大変満足」33%、「やや満足」38%、「満足」17.5%の合計値 ※3 2019年5月　自社調べ
        ※4えび、かに、小麦、そば、卵、乳、落花生(ピーナッツ)、アーモンド、あわび、いか、いくら、オレンジ、カシューナッツ、キウイフルーツ、牛肉、くるみ、ごま、さけ、さば、大豆、鶏肉、
        バナナ、豚肉、まつたけ、もも、やまいも、りんご、ゼラチン
      </div>
    </div>
  </div>
</section>