<%
  const commonRootPath = '../../../../common/';
  const productRootPath = '../../';
  const commonComponentPath = `${commonRootPath}components/`;
  const productComponentPath = `${productRootPath}../components/`;
%>
<!DOCTYPE html>
<html>
<%- include(`${productComponentPath}basic/_head`, {commonRootPath, productRootPath}) %>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PH4SDD" height="0" width="0"
style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="nst">
    <%- include(`${productComponentPath}_header`, {commonRootPath, productRootPath}) %>


<div id="fv">
    <div class="aligncenter">
      <p class="pc"><img src="<%= productRootPath %>img/img_fv.png" alt="ハリも弾力も自信も手に入れることができた Nst[エニスト]"></p>
      <p class="sp"><img src="<%= productRootPath %>img/img_fv_sp.jpg" alt="ハリも弾力も自信も手に入れることができた Nst[エニスト]"></p>
    </div>
  </div>
  <!-- /#fv -->


  <div id="catch">
    <div class="aligncenter pc">
      <p><img src="<%= productRootPath %>img/img_catch_title.png" alt="見た目印象は他人に決められる。自分で決めたいあなたに。"></p>
      <p><img src="<%= productRootPath %>img/img_catch_content.png" alt="エニストスキンケアシリーズ"></p>
    </div>
    <div class="sp">
      <p><img src="<%= productRootPath %>img/img_catch_title_sp.jpg" alt="見た目印象は他人に決められる。自分で決めたいあなたに。"></p>
      <p><img src="<%= productRootPath %>img/img_catch_content_sp.jpg" alt="エニストスキンケアシリーズ"></p>
    </div>
  </div>
  <!-- /#catch -->

     <%- include(`${productComponentPath}_award`, {commonRootPath, productRootPath}) %>

  <div id="story">
    <div class="aligncenter pc">
      <p><img src="<%= productRootPath %>img/img_story_pc.png" alt=""></p>
    </div>
    <div class="aligncenter sp">
      <p><img src="<%= productRootPath %>img/img_story-product_sp.jpg" alt=""></p>
    </div>
  </div>
  <!-- /.story -->


  <div id="arrow">
    <div class="aligncenter pc">
      <p><img src="<%= productRootPath %>img/img_arrow_voice_pc.png" alt=""></p>
    </div>
    <div class="aligncenter sp">
      <p><img src="<%= productRootPath %>img/img_arrow_voice_sp.png" alt=""></p>
    </div>
  </div>
  <!-- /.story -->


  <div id="voice">
    <div class="aligncenter pc">
      <p><img src="<%= productRootPath %>img/img_voice_pc.png" alt=""></p>
    </div>
    <div class="aligncenter sp">
      <p><img src="<%= productRootPath %>img/img_voice-main_sp.jpg" alt=""></p>
    </div>
  </div>
  <!-- /.story -->


  <div id="trouble">
    <div class="aligncenter pc">
      <p><img src="<%= productRootPath %>img/img_trouble.png" alt="あなたはこんなことありませんか？"></p>
      <p><img src="<%= productRootPath %>img/img_trouble_cause.png" alt="浸透不足が原因かもしれません"></p>
      <p><img src="<%= productRootPath %>img/img_trouble_skin.png" alt="お手入れをしても実感できず肌悩みが深刻化、悪循環を招きます。"></p>
    </div>
    <div class="sp">
      <p><img src="<%= productRootPath %>img/img_trouble_sp.png" alt="あなたはこんなことありませんか？"></p>
      <p><img src="<%= productRootPath %>img/img_trouble_cause_sp.png" alt="浸透不足が原因かもしれません"></p>
      <p><img src="<%= productRootPath %>img/img_trouble_skin_sp.jpg" alt="お手入れをしても実感できず肌悩みが深刻化、悪循環を招きます"></p>
    </div>
  </div>
  <!-- /#trouble -->


  <div id="technology">
    <div class="aligncenter pc">
      <p><img src="<%= productRootPath %>img/img_technology_important.png" alt="重要なのは浸透させることだったのです"></p>
      <p><img src="<%= productRootPath %>img/img_technology_title.png" alt="エニスト スキンケアシリーズは、3つの浸透技術を採用！"></p>
      <p><img src="<%= productRootPath %>img/img_technology_lineup.png" alt="思わず触れたくなるようなハリ･弾力を届けます"></p>
      <p><img src="<%= productRootPath %>img/img_technology_component.png" alt="主役級の美容成分を多数配合！"></p>
      <p><img src="<%= productRootPath %>img/img_technology_special.png" alt="“こだわりぬいた”リッチなスペシャル処方"></p>
    </div>
    <div class="sp">
      <p><img src="<%= productRootPath %>img/img_technology_important_sp.png" alt="重要なのは浸透させることだったのです"></p>
      <p><img src="<%= productRootPath %>img/img_technology_title_sp.png" alt="エニスト スキンケアシリーズは、3つの浸透技術を採用！"></p>
      <p><img src="<%= productRootPath %>img/img_technology_lineup_sp.png" alt="思わず触れたくなるようなハリ･弾力を届けます"></p>
      <p><img src="<%= productRootPath %>img/img_technology_component_sp.png" alt="主役級の美容成分を多数配合！"></p>
      <p><img src="<%= productRootPath %>img/img_technology_special_sp.png" alt="こだわりぬいた”リッチなスペシャル処方"></p>
    </div>
  </div>
  <!-- /#technology -->


  <div id="offer">
    <div class="aligncenter pc">
      <p><img src="<%= productRootPath %>img/img_offer_title.png" alt="エニスト スペシャルケアセット特別価格"></p>
      <div class="cta_area">
        <p><img src="<%= productRootPath %>img/img_offer_content.png" alt="15,000円(税込)送料無料"></p>
        <p class="offer_btn"><a href="<%= frontURL %>cart/set?code[]=RNS1&code[]=RNS2&code[]=RNS3&cycle=1&quantity=1"><img src="<%= productRootPath %>img/btn_offer.png" alt="スペシャルケアをはじめる"></a></p>
      </div>
      <p><img src="<%= productRootPath %>img/img_offer_regular.png" alt="Nstスペシャルケアセットとは？約30日または約60日ごとにお届けする定期コースです。"></p>
    </div>
    <div class="sp">
      <p><img src="<%= productRootPath %>img/img_offer_title_sp.jpg" alt="エニスト スペシャルケアセット特別価格"></p>
      <div class="cta_area">
        <p><img src="<%= productRootPath %>img/img_offer_content_sp.jpg" alt="15,000円(税込)送料無料"></p>
        <p class="offer_btn"><a href="<%= frontURL %>cart/set?code[]=RNS1&code[]=RNS2&code[]=RNS3&cycle=1&quantity=1"><img src="<%= productRootPath %>img/btn_offer_sp.png" alt="スペシャルケアをはじめる"></a></p>
      </div>
      <p><img src="<%= productRootPath %>img/img_offer_regular_sp.jpg" alt="Nstスペシャルケアセットとは？約30日または約60日ごとにお届けする定期コースです。"></p>
    </div>
  </div>
  <!-- /#offer -->


  <div id="lineup">
    <div class="aligncenter">
      <p class="lineup_title">
        <img class="pc" src="<%= productRootPath %>img/img_lineup_title.png" alt="エニスト スキンケアシリーズ LINE UP">
        <img class="sp" src="<%= productRootPath %>img/img_lineup_title_sp.jpg" alt="エニスト スキンケアシリーズ LINE UP">
      </p>

      <div class="lineup_step lotion">
        <p class="lotion_tit">
          <img class="pc" src="<%= productRootPath %>img/img_lotion_title.png" alt="step1 ほぐす化粧水 ザ ベース ローション">
          <img class="sp" src="<%= productRootPath %>img/img_lotion_title_sp.png" alt="step1 ほぐす化粧水 ザ ベース ローション">
        </p>
        <div class="lotion_cta">
          <p>
            <img class="pc" src="<%= productRootPath %>img/img_lotion_content.png" alt="定期お届けコース 4,400円(税込) 1回のみお届け 5,500円(税込)">
            <img class="sp" src="<%= productRootPath %>img/img_lotion_content_sp.png" alt="定期お届けコース 4,400円(税込) 1回のみお届け 5,500円(税込)">
          </p>
          <p class="cta_btn">
            <a href="<%= frontURL %>cart/set?code=RNS1&cycle=1&quantity=1">
              <img class="pc" src="<%= productRootPath %>img/btn_lineup_gain.png" alt="お得に購入する">
              <img class="sp" src="<%= productRootPath %>img/btn_lineup_gain_sp.png" alt="お得に購入する">
            </a>
          </p>
          <p class="cta_btn2">
            <a href="<%= frontURL %>cart/set?code=NS1&cycle=1&quantity=1">
              <img class="pc" src="<%= productRootPath %>img/btn_lineup_normal.png" alt="購入する">
              <img class="sp" src="<%= productRootPath %>img/btn_lineup_normal_sp.png" alt="購入する">
            </a>
          </p>
        </div>

        <div class="acc_area accordion1">
          <!-- <p class="ac_btn">商品の詳細を見る</p> -->

          <div class="inner">
            <p>
              <img class="pc" src="<%= productRootPath %>img/img_lotion_voice.png" alt="コメ発酵液の驚きのパワー モニター様のお声">
              <img class="sp" src="<%= productRootPath %>img/img_lotion_voice_sp.png" alt="コメ発酵液の驚きのパワー モニター様のお声">
            </p>
            <!-- モニター様のお声 -->
            <div class="voice_area">
              <!-- ここから -->
              <div class="voice_block">
                <ul>
                  <li>
                    <img class="pc" src="<%= productRootPath %>img/img_voice_star5.png" alt="">
                    <img class="sp" src="<%= productRootPath %>img/img_voice_star5_sp.png" alt="">
                  </li><!-- 星 -->
                  <li class="user">50歳/女性</li>
                </ul>
                <p class="voice_text">思っていたよりさらっとしたテクスチャーだけど、物足りなさはなく、これだけでもいいかもと思えるほど。<br>
100円玉大を2回分という量なのに、馴染みが良いです。手になじませるとすぐにモチモチと吸いつく感じがして、今までにないテクスチャーとのギャップを感じました。化粧水後の美容液やクリームをスムーズに肌へ運ぶ道筋をつくっているような感じ。</p>
              </div>
              <!-- ここまで -->

              <!-- ここから -->
              <div class="voice_block">
                <ul>
                  <li>
                    <img class="pc" src="<%= productRootPath %>img/img_voice_star4.png" alt="">
                    <img class="sp" src="<%= productRootPath %>img/img_voice_star4_sp.png" alt="">
                  </li><!-- 星 -->
                  <li class="user">48歳/女性</li>
                </ul>
                <p class="voice_text">化粧水をつけた後、もっちり感があって手のひらに吸いつく感じ。<br>かなり潤いのあるテクスチャーで、化粧水だけでもOKかなと思ってしまうくらいでした。<br>肌なじみの良さだけでなく、香りもとても良かったです。</p>
              </div>
              <!-- ここまで -->

              <!-- ここから -->
              <div class="voice_block">
                <ul>
                  <li>
                    <img class="pc" src="<%= productRootPath %>img/img_voice_star4.png" alt="">
                    <img class="sp" src="<%= productRootPath %>img/img_voice_star4_sp.png" alt="">
                  </li><!-- 星 -->
                  <li class="user">43歳/女性</li>
                </ul>
                <p class="voice_text">見た目のサラッと感が良い意味で裏切られるような、しっとり潤いに満ちた感触。<br>私自身、混合肌でサラッと感としっとり感、どちらも満たしてくれるので気に入っています。季節を問わず使えそうです。</p>
              </div>
              <!-- ここまで -->

              <!-- ここから -->
              <div class="voice_block">
                <ul>
                  <li>
                    <img class="pc" src="<%= productRootPath %>img/img_voice_star4.png" alt="">
                    <img class="sp" src="<%= productRootPath %>img/img_voice_star4_sp.png" alt="">
                  </li><!-- 星 -->
                  <li class="user">49歳/女性</li>
                </ul>
                <p class="voice_text">化粧水の感触、香りのバランスが良いと感じました。<br>手に出すと思ったよりさらっとしている印象でしたが、潤いは高いと思います。水をほぼ使用していない、こだわりの成分で作られているのが魅力ですね。</p>
              </div>
              <!-- ここまで -->
            </div>
            <!-- /.voice_area -->
          </div>

        </div>
        <!-- /.acc_area -->
      </div>
      <!-- /.lineup_step -->


      <div class="lineup_step serum">
        <p class="serum_tit">
          <img class="pc" src="<%= productRootPath %>img/img_serum_title.png" alt="step2 届ける美容乳液 ザ アクティベイテッド セラム">
          <img class="sp" src="<%= productRootPath %>img/img_serum_title_sp.png" alt="step2 届ける美容乳液 ザ アクティベイテッド セラム">
        </p>
        <div class="serum_cta">
          <p>
            <img class="pc" src="<%= productRootPath %>img/img_serum_content.png" alt="定期お届けコース 5,200円(税込) 1回のみお届け 6,500円(税込)">
            <img class="sp" src="<%= productRootPath %>img/img_serum_content_sp.png" alt="定期お届けコース 5,200円(税込) 1回のみお届け 6,500円(税込)">
          </p>
          <p class="cta_btn">
            <a href="<%= frontURL %>cart/set?code=RNS2&cycle=1&quantity=1">
              <img class="pc" src="<%= productRootPath %>img/btn_lineup_gain.png" alt="お得に購入する">
              <img class="sp" src="<%= productRootPath %>img/btn_lineup_gain_sp.png" alt="お得に購入する">
            </a>
          </p>
          <p class="cta_btn2">
            <a href="<%= frontURL %>cart/set?code=NS2&cycle=1&quantity=1">
              <img class="pc" src="<%= productRootPath %>img/btn_lineup_normal.png" alt="購入する">
              <img class="sp" src="<%= productRootPath %>img/btn_lineup_normal_sp.png" alt="購入する">
            </a>
          </p>
        </div>

        <div class="acc_area accordion2">
          <!-- <p class="ac_btn">商品の詳細を見る</p> -->

          <div class="inner">
            <p>
              <img class="pc" src="<%= productRootPath %>img/img_serum_voice.png" alt="エニストシリーズ内でくすみに特化 モニター様のお声">
              <img class="sp" src="<%= productRootPath %>img/img_serum_voice_sp.png" alt="エニストシリーズ内でくすみに特化 モニター様のお声">
            </p>
            <!-- モニター様のお声 -->
            <div class="voice_area">
              <!-- ここから -->
              <div class="voice_block">
                <ul>
                  <li>
                    <img class="pc" src="<%= productRootPath %>img/img_voice_star5.png" alt="">
                    <img class="sp" src="<%= productRootPath %>img/img_voice_star5_sp.png" alt="">
                  </li><!-- 星 -->
                  <li class="user">48歳/女性</li>
                </ul>
                <p class="voice_text">水分たっぷりなのに、ベタつきはありません。<br>なじみが早く、みずみずしいつけ心地がとても気に入りました。<br>少量でもかなり伸びるので、コスパが良いですね。</p>
              </div>
              <!-- ここまで -->

              <!-- ここから -->
              <div class="voice_block">
                <ul>
                  <li>
                    <img class="pc" src="<%= productRootPath %>img/img_voice_star5.png" alt="">
                    <img class="sp" src="<%= productRootPath %>img/img_voice_star5_sp.png" alt="">
                  </li><!-- 星 -->
                  <li class="user">50歳/女性</li>
                </ul>
                <p class="voice_text">柔らかすぎないテクスチャーなので、肌に伸ばしやすい。手で温めてからなじませるように、ハンドプレスをしています。<br>ベタつきもなく、潤いを感じられました。</p>
              </div>
              <!-- ここまで -->

              <!-- ここから -->
              <div class="voice_block">
                <ul>
                  <li>
                    <img class="pc" src="<%= productRootPath %>img/img_voice_star4.png" alt="">
                    <img class="sp" src="<%= productRootPath %>img/img_voice_star4_sp.png" alt="">
                  </li><!-- 星 -->
                  <li class="user">49歳/女性</li>
                </ul>
                <p class="voice_text">適度なとろみ感があり、なめやかで肌なじみ・伸びもよく、好みの感触でした。<!-- 柔らかすぎないテクスチャーなので、肌に伸ばしやすい。手で温めてからなじませるように、ハンドプレスをしています。<br>ベタつきもなく、潤いを感じられました。 --></p>
              </div>
              <!-- ここまで -->

              <!-- ここから -->
              <div class="voice_block">
                <ul>
                  <li>
                    <img class="pc" src="<%= productRootPath %>img/img_voice_star4.png" alt="">
                    <img class="sp" src="<%= productRootPath %>img/img_voice_star4_sp.png" alt="">
                  </li><!-- 星 -->
                  <li class="user">37歳/女性</li>
                </ul>
                <p class="voice_text">少ない量でも潤いがあります。<br>普段美容液はべたつくので使わないんですが、エニストの美容乳液はベタベタしないので好きです。</p>
              </div>
              <!-- ここまで -->
            </div>
            <!-- /.voice_area -->
          </div>

        </div>
        <!-- /.acc_area -->
      </div>
      <!-- /.lineup_step -->


      <div class="lineup_step cream">
        <p class="cream_tit">
          <img class="pc" src="<%= productRootPath %>img/img_cream_title.png" alt="step3 つつみ込むクリーム ザ リアウェイクニングクリーム">
          <img class="sp" src="<%= productRootPath %>img/img_cream_title_sp.png" alt="step3 つつみ込むクリーム ザ リアウェイクニングクリーム">
        </p>
        <div class="cream_cta">
          <p>
            <img class="pc" src="<%= productRootPath %>img/img_cream_content.png" alt="定期お届けコース 6,400円(税込) 1回のみお届け 8,000円(税込)">
            <img class="sp" src="<%= productRootPath %>img/img_cream_content_sp.png" alt="定期お届けコース 6,400円(税込) 1回のみお届け 8,000円(税込)">
          </p>
          <p class="cta_btn">
            <a href="<%= frontURL %>cart/set?code=RNS3&cycle=1&quantity=1">
              <img class="pc" src="<%= productRootPath %>img/btn_lineup_gain.png" alt="お得に購入する">
              <img class="sp" src="<%= productRootPath %>img/btn_lineup_gain_sp.png" alt="お得に購入する">
            </a>
          </p>
          <p class="cta_btn2">
            <a href="<%= frontURL %>cart/set?code=NS3&cycle=1&quantity=1">
              <img class="pc" src="<%= productRootPath %>img/btn_lineup_normal.png" alt="購入する">
              <img class="sp" src="<%= productRootPath %>img/btn_lineup_normal_sp.png" alt="購入する">
            </a>
          </p>
        </div>

        <div class="acc_area accordion3">
          <!-- <p class="ac_btn">商品の詳細を見る</p> -->

          <div class="inner">
            <p>
              <img class="pc" src="<%= productRootPath %>img/img_cream_voice.png" alt="肌と同じラメラ構造だからしっかり浸透！ モニター様のお声">
              <img class="sp" src="<%= productRootPath %>img/img_cream_voice_sp.png" alt="肌と同じラメラ構造だからしっかり浸透！ モニター様のお声">
            </p>
            <!-- モニター様のお声 -->
            <div class="voice_area">
              <!-- ここから -->
              <div class="voice_block">
                <ul>
                  <li>
                    <img class="pc" src="<%= productRootPath %>img/img_voice_star5.png" alt="">
                    <img class="sp" src="<%= productRootPath %>img/img_voice_star5_sp.png" alt="">
                  </li><!-- 星 -->
                  <li class="user">54歳/女性</li>
                </ul>
                <p class="voice_text">朝起きて、顔を洗うときになっても、保湿されている感じが残っています。<br>濃厚なので、少量でも良いかも。気になる部分には重ねて使っています。<br>クリームが形状記憶のように、ピッタリと肌にはりつく感じが好きです。</p>
              </div>
              <!-- ここまで -->

              <!-- ここから -->
              <div class="voice_block">
                <ul>
                  <li>
                    <img class="pc" src="<%= productRootPath %>img/img_voice_star5.png" alt="">
                    <img class="sp" src="<%= productRootPath %>img/img_voice_star5_sp.png" alt="">
                  </li><!-- 星 -->
                  <li class="user">48歳/女性</li>
                </ul>
                <p class="voice_text">クリームのイメージが変わりました。水分たっぷりでさっぱりなのに、しっかりフタをしてくれそう。心地良い潤い感やプルプル弾力性のあるテクスチャーがとても気に入りました。</p>
              </div>
              <!-- ここまで -->

              <!-- ここから -->
              <div class="voice_block">
                <ul>
                  <li>
                    <img class="pc" src="<%= productRootPath %>img/img_voice_star5.png" alt="">
                    <img class="sp" src="<%= productRootPath %>img/img_voice_star5_sp.png" alt="">
                  </li><!-- 星 -->
                  <li class="user">55際/女性</li>
                </ul>
                <p class="voice_text">夜たっぷりクリームを塗っています。スーッとのびて気持ちがいいです。夕方でもどんよりしなくなったし、鏡の前に行く回数も少なくなりました。</p>
              </div>
              <!-- ここまで -->

              <!-- ここから -->
              <div class="voice_block">
                <ul>
                  <li>
                    <img class="pc" src="<%= productRootPath %>img/img_voice_star3.png" alt="">
                    <img class="sp" src="<%= productRootPath %>img/img_voice_star3_sp.png" alt="">
                  </li><!-- 星 -->
                  <li class="user">37歳/女性</li>
                </ul>
                <p class="voice_text">クリーム自体がプルンとしていて、塗心地が気持ち良いです。とてもしっとりしていて保湿力が高いと感じました。</p>
              </div>
              <!-- ここまで -->
            </div>
            <!-- /.voice_area -->
          </div>

        </div>
        <!-- /.acc_area -->
      </div>
      <!-- /.lineup_step -->
    </div>
    <!-- /.aligncenter -->

  </div>
  <!-- /#lineup -->


  <div id="satisfaction">
    <div class="aligncenter pc">
      <p><img src="<%= productRootPath %>img/img_satisfaction.png" alt="使用満足度00.0% あなたも実感してみませんか？"></p>
    </div>
    <div class="sp">
      <p><img src="<%= productRootPath %>img/img_satisfaction_sp.jpg" alt="使用満足度00.0% あなたも実感してみませんか？"></p>
    </div>
  </div>
  <!-- /#satisfaction -->


  <div id="offer2">
    <div class="aligncenter pc">
      <p><img src="<%= productRootPath %>img/img_offer_title.png" alt="エニスト スペシャルケアセット特別価格"></p>
      <div class="cta_area">
        <p><img src="<%= productRootPath %>img/img_offer_content.png" alt="15,000円(税込)送料無料"></p>
        <p class="offer_btn"><a href="<%= frontURL %>cart/set?code[]=RNS1&code[]=RNS2&code[]=RNS3&cycle=1&quantity=1"><img src="<%= productRootPath %>img/btn_offer.png" alt="スペシャルケアをはじめる"></a></p>
      </div>
      <p><img src="<%= productRootPath %>img/img_offer_regular.png" alt="Nstスペシャルケアセットとは？約30日または約60日ごとにお届けする定期コースです。"></p>
    </div>
    <div class="sp">
      <p><img src="<%= productRootPath %>img/img_offer_title_sp.jpg" alt="エニスト スペシャルケアセット特別価格"></p>
      <div class="cta_area">
        <p><img src="<%= productRootPath %>img/img_offer_content_sp.jpg" alt="15,000円(税込)送料無料"></p>
        <p class="offer_btn"><a href="<%= frontURL %>cart/set?code[]=RNS1&code[]=RNS2&code[]=RNS3&cycle=1&quantity=1"><img src="<%= productRootPath %>img/btn_offer_sp.png" alt="スペシャルケアをはじめる"></a></p>
      </div>
      <p><img src="<%= productRootPath %>img/img_offer_regular_sp.jpg" alt="Nstスペシャルケアセットとは？約30日または約60日ごとにお届けする定期コースです。"></p>
    </div>
  </div>
  <!-- /#offer -->


  <div id="tel">
    <div class="aligncenter pc">
      <p><img src="<%= productRootPath %>img/img_tel.png" alt="ご相談はもちろん、ご注文についてもお電話でお受けしております 0120-237-600"></p>
    </div>
    <div class="sp">
      <p><img src="<%= productRootPath %>img/img_tel_sp1.jpg" alt="ご相談はもちろん、ご注文についてもお電話でお受けしております 0120-237-600"></p>
      <p><a href="tel:0120-237-600"><img src="<%= productRootPath %>img/img_tel_sp2.jpg" alt="0120-237-600"></a></p>
    </div>
  </div>
  <!-- /#tel -->

  <%- include(`${commonComponentPath}_common_oshirase`, {commonRootPath, productRootPath}) %>
    <!-- /.oshirase_area -->

  <div id="faq">
    <div class="aligncenter">
      <p>
        <img class="pc" src="<%= productRootPath %>img/img_faq_title.png" alt="よくある質問">
        <img class="sp" src="<%= productRootPath %>img/img_faq_title_sp.png" alt="よくある質問">
      </p>

      <div class="faq_list">
        <div class="faq_block faq_acc1">
          <p class="faq_acc_btn">化粧品の保存方法は？</p>
          <div class="inner">
            <img class="pc" src="<%= productRootPath %>img/img_answer_storage.png" alt="極度に高温、または低温の場所には保管せず、常温で保管をしてください。">
            <img class="sp" src="<%= productRootPath %>img/img_answer_storage_sp.png" alt="極度に高温、または低温の場所には保管せず、常温で保管をしてください。">
          </div>
        </div>
        <!-- /.faq_block -->

        <div class="faq_block faq_acc2">
          <p class="faq_acc_btn">エニストシリーズの使用の順番を教えてください</p>
          <div class="inner">
            <img class="pc" src="<%= productRootPath %>img/img_answer_order.png" alt="化粧水、美容乳液、クリームの順番でご使用ください。">
            <img class="sp" src="<%= productRootPath %>img/img_answer_order_sp.png" alt="化粧水、美容乳液、クリームの順番でご使用ください。">
          </div>
        </div>
        <!-- /.faq_block -->

        <div class="faq_block faq_acc3">
          <p class="faq_acc_btn">化粧品に使用期限はありますか？</p>
          <div class="inner">
            <img class="pc" src="<%= productRootPath %>img/img_answer_period.png" alt="未開封の場合は3年以内に使用してください。">
            <img class="sp" src="<%= productRootPath %>img/img_answer_period_sp.png" alt="未開封の場合は3年以内に使用してください。">
          </div>
        </div>
        <!-- /.faq_block -->

        <div class="faq_block faq_acc4">
          <p class="faq_acc_btn">敏感肌でも使用できますか？</p>
          <div class="inner">
            <img class="pc" src="<%= productRootPath %>img/img_answer_sensitive.png" alt="販売している全ての商品はパッチテストを行っておりますが、全ての方に刺激が起こらないわけではありません。">
            <img class="sp" src="<%= productRootPath %>img/img_answer_sensitive_sp.png" alt="販売している全ての商品はパッチテストを行っておりますが、全ての方に刺激が起こらないわけではありません。">
          </div>
        </div>
        <!-- /.faq_block -->

        <div class="faq_block faq_acc5">
          <p class="faq_acc_btn">他のブランドと併用しても大丈夫ですか？またラインで使った方がいいですか？</p>
          <div class="inner">
            <img class="pc" src="<%= productRootPath %>img/img_answer_combined.png" alt="他のブランド製品と併せてお使いいただけます。">
            <img class="sp" src="<%= productRootPath %>img/img_answer_combined_sp.png" alt="他のブランド製品と併せてお使いいただけます。">
          </div>
        </div>
        <!-- /.faq_block -->

        <div class="faq_block faq_acc6">
          <p class="faq_acc_btn">肌に異常が現れた場合、どうすればいいですか？</p>
          <div class="inner">
            <img class="pc" src="<%= productRootPath %>img/img_answer_abnormality.png" alt="ただちに使用を中止し、特に次のような場合は皮膚科専門医にご相談ください。">
            <img class="sp" src="<%= productRootPath %>img/img_answer_abnormality_sp.png" alt="ただちに使用を中止し、特に次のような場合は皮膚科専門医にご相談ください。">
          </div>
        </div>
        <!-- /.faq_block -->

      </div>
      <!-- /.faq_list -->

      <p>
        <!-- <img class="pc"  src="<%= productRootPath %>img/img_faq_comment.png" alt="※1角層まで ※2年齢を重ねた肌のこと">
        <img class="sp" src="<%= productRootPath %>img/img_faq_comment_sp.png" alt="※1角層まで ※2年齢を重ねた肌のこと"> -->
      </p>
    </div>
    <!-- /.aligncenter -->

  </div>
  <!-- /#faq -->


  <div id="component">
    <div class="aligncenter pc">
      <p><img src="<%= productRootPath %>img/img_component_title.png" alt="全成分"></p>
      <p><img src="<%= productRootPath %>img/img_component_lotion.png" alt="ザ ベース ローション"></p>
      <p><img src="<%= productRootPath %>img/img_component_serum.png" alt="ザ アクティベイテッド セラム"></p>
      <p><img src="<%= productRootPath %>img/img_component_cream.png" alt="ザ リアウェイクニング クリーム"></p>
    </div>
    <div class="sp">
      <p><img src="<%= productRootPath %>img/img_component_title_sp.jpg" alt="全成分"></p>
      <p><img src="<%= productRootPath %>img/img_component_lotion_sp.jpg" alt="ザ ベース ローション"></p>
      <p><img src="<%= productRootPath %>img/img_component_serum_sp.jpg" alt="ザ アクティベイテッド セラム"></p>
      <p><img src="<%= productRootPath %>img/img_component_cream_sp.jpg" alt="ザ リアウェイクニング クリーム"></p>
    </div>
  </div>
  <!-- /#component -->

  <%- include(`${commonComponentPath}_common_oshirase`, {commonRootPath, productRootPath}) %>

<div id="buy_list">
    <div class="aligncenter">
      <p class="pc"><img src="<%= productRootPath %>img/img_buylist_pc.png" alt=""></p>
      <p class="sp"><img src="<%= productRootPath %>img/img_buylist_sp.png" alt=""></p>
    </div>
</div>
<!-- /#buy_list -->


</div>
<!-- /nst -->

</main>
<!-- /main -->

  <%- include(`${commonComponentPath}_common_footer`, {commonRootPath, productRootPath}) %>

<!-- footer -->
<!-- <footer id="footer">
  <div class="inner">
    <p class="aligncenter pc"><img src="<%= productRootPath %>img/footer_logo.png" alt="オリエンタルバイオ"></p>
    <p class="aligncenter sp"><img src="<%= productRootPath %>img/footer_logo_sp.png" alt="オリエンタルバイオ"></p>

    <ul class="footer_menu">
      <li><a href="<%= corporateURL %>company/" target="_blank">企業情報</a></li>
      <li><a href="<%= corporateURL %>terms" target="_blank">ご利用に当たって</a></li>
      <li><a href="<%= corporateURL %>privacy" target="_blank">プライバシーポリシー</a></li>
      <li><a href="<%= frontURL %>tokutei/" target="_blank">特定商取引法に基づく表記</a></li>
      <li><a href="<%= frontURL %>ContactInput" target="_blank">お問い合わせ</a></li>
    </ul>
  </div>
</footer> -->
<!-- /footer -->


</body>

<!-- nst yhlp/ver1 -->
</html>
