<%
  const commonRootPath = '../../../../common/';
  const productRootPath = '../../';
  const commonComponentPath = `${commonRootPath}components/`;
  const productComponentPath = `${productRootPath}../components/`;
%>
<!DOCTYPE html>
<html>
<%- include(`${productComponentPath}basic_u/_head`, {commonRootPath, productRootPath}) %>

  <body class="media_wrapper nst">

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PH4SDD" height="0" width="0"
  style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <div class="media nst">

    <div class="fv" style="position: relative;">
      <p><img src="<%= productRootPath %>img/set_fv.png" alt=""></p>
    </div>
    <!-- お知らせ掲載 -->
    <%- include(`${commonComponentPath}_common_oshirase`, {commonRootPath, productRootPath}) %>
    <!-- /お知らせ掲載 -->
    <!-- <div id="youtube" class="media_youtube">
      <figure class="media_youtube_movie">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/a9TtsEhDQm0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></iframe>
      </figure>
      <p class="media_youtube_bg"><img src="<%= productRootPath %>img/set_media.png" alt=""></p>
    </div> -->
    <div id="voce" class="voce">
      <p><img src="<%= productRootPath %>img/set_voce.png" alt=""></p>
    </div>
    <div class="media_sns">
        <p><img src="<%= productRootPath %>img/set_sns.png" alt=""></p>
    </div>
    <div id="ctaSet" class="cta_set">
      <p><img src="<%= productRootPath %>img/cta_set_main_01.png" alt=""></p>
      <p><img src="<%= productRootPath %>img/cta_set_main_02.png" alt=""></p>
      <a href="<%= frontURL %>cart/set?code[]=RNS1&code[]=RNS2&code[]=RNS3&cycle=1&quantity=1"><img src="<%= productRootPath %>img/cta_btn_set_teiki_01.png" alt=""></a>
    </div>

    <div class="lineup">
      <div class="title">
        <p><img src="<%= productRootPath %>img/set_lineup_title.png" alt=""></p>
      </div>
      <!-- water -->
      <div id="water" class="water lineup_box">
        <p><img src="<%= productRootPath %>img/set_water_cta.png" alt=""></p>
        <a href="<%= frontURL %>cart/set?code=RNS1&cycle=1&quantity=1"><img src="<%= productRootPath %>img/set_button_01.png" alt=""></a>
        <div class="tujo">
           <p class="price"><img src="<%= productRootPath %>img/cta_water_main_06.png" alt=""></p>
           <p class="button">
            <a href="<%= frontURL %>cart/set?code=NS1&cycle=1&quantity=1"><img src="<%= productRootPath %>img/button_tujo.png" alt=""></a>
          </p>
        </div>
        <div class="more">
          <p class="button_open more_button"><img src="<%= productRootPath %>img/set_button_open_water.png" alt=""></p>
          <p class="button_close more_button"><img src="<%= productRootPath %>img/set_button_close.png" alt=""></p>
          <div class="more_content">
            <img src="<%= productRootPath %>img/set_water_about.png" alt="">
            <div class="voice_area">
              <div class="voice_block">
                <ul>
                  <li>
                    <img class="pc" src="<%= productRootPath %>img/img_voice_star5.png" alt="">
                    <img class="sp" src="<%= productRootPath %>img/img_voice_star5_sp.png" alt="">
                  </li><!-- 星 -->
                  <li class="user">37歳/女性</li>
                </ul>
                <p class="voice_text">この化粧水はサラッとしているのにしっかりとした潤いで使いやすいです。<br>肌に残ってビチャビチャする感じも全くないです。</p>
              </div>
              <div class="voice_block">
                <ul>
                  <li>
                    <img class="pc" src="<%= productRootPath %>img/img_voice_star5.png" alt="">
                    <img class="sp" src="<%= productRootPath %>img/img_voice_star5_sp.png" alt="">
                  </li><!-- 星 -->
                  <li class="user">48歳/女性</li>
                </ul>
                <p class="voice_text">水分たっぷりなのに、ベタつきはありません。<br>なじみが早く、みずみずしいつけ心地がとても気に入りました。<br>少量でもかなり伸びるので、コスパが良いですね。</p>
              </div>
              <div class="voice_block">
                <ul>
                  <li>
                    <img class="pc" src="<%= productRootPath %>img/img_voice_star5.png" alt="">
                    <img class="sp" src="<%= productRootPath %>img/img_voice_star5_sp.png" alt="">
                  </li><!-- 星 -->
                  <li class="user">43歳/女性</li>
                </ul>
                <p class="voice_text">まず、ボトルがプッシュ式になっているところが使いやすくていいです。テクスチャーの固さがほど良く、伸びも良いのでムラなくぬれます。この
                  くらいのテクスチャーだと塗りやすく、扱いやすいですね。サラサラすぎる美容液は好きではないけど、エニストの美容乳液はOKです。</p>
                </div>
                <div class="voice_block">
                  <ul>
                    <li>
                      <img class="pc" src="<%= productRootPath %>img/img_voice_star5.png" alt="">
                      <img class="sp" src="<%= productRootPath %>img/img_voice_star5_sp.png" alt="">
                    </li><!-- 星 -->
                    <li class="user">50歳/女性</li>
                  </ul>
                  <p class="voice_text">柔らかすぎないテクスチャーなので、肌に伸ばしやすい。手で温めてからなじませるように、ハンドプレスをしています。<br>ベタつきもなく、潤いを感じられました。</p>
                </div>
                <div class="voice_block">
                  <ul>
                    <li>
                      <img class="pc" src="<%= productRootPath %>img/img_voice_star4.png" alt="">
                      <img class="sp" src="<%= productRootPath %>img/img_voice_star4_sp.png" alt="">
                    </li><!-- 星 -->
                    <li class="user">37歳/女性</li>
                  </ul>
                  <p class="voice_text">ベタつかず、そしてサラッとしすぎずいい感じ。
べたつかないのに少量でも十分なので良いと思います。</p>
                </div>
                <div class="voice_block">
                  <ul>
                    <li>
                      <img class="pc" src="<%= productRootPath %>img/img_voice_star4.png" alt="">
                      <img class="sp" src="<%= productRootPath %>img/img_voice_star4_sp.png" alt="">
                    </li><!-- 星 -->
                    <li class="user">49歳/女性</li>
                  </ul>
                  <p class="voice_text">適度なとろみ感があり、なめやかで肌なじみ・伸びもよく、好みの感触でした。<!-- 柔らかすぎないテクスチャーなので、肌に伸ばしやすい。手で温めてからなじませるように、ハンドプレスをしています。<br>ベタつきもなく、潤いを感じられました。 --></p>
                </div>
                <div class="voice_block">
                  <ul>
                    <li>
                      <img class="pc" src="<%= productRootPath %>img/img_voice_star4.png" alt="">
                      <img class="sp" src="<%= productRootPath %>img/img_voice_star4_sp.png" alt="">
                    </li><!-- 星 -->
                    <li class="user">37歳/女性</li>
                  </ul>
                  <p class="voice_text">少ない量でも潤いがあります。<br>普段美容液はべたつくので使わないんですが、エニストの美容乳液はベタベタしないので好きです。</p>
                </div>
              </div>
              <!-- /.voice_area -->
            </div>
        </div>
      </div>
        <!-- /water -->
        <!--nyueki -->
      <div id="nyueki" class="nyueki lineup_box">
        <p id="nyueki01"><img src="<%= productRootPath %>img/set_nyueki_cta.png" alt=""></p>
        <a href="<%= frontURL %>cart/set?code=RNS2&cycle=1&quantity=1"><img src="<%= productRootPath %>img/set_button_01.png" alt=""></a>
        <div class="tujo">
           <p class="price"><img src="<%= productRootPath %>img/cta_nyueki_03.png" alt=""></p>
           <p class="button">
            <a href="<%= frontURL %>cart/set?code=NS2&cycle=1&quantity=1"><img src="<%= productRootPath %>img/button_tujo.png" alt=""></a>
          </p>
        </div>
        <div class="more">
          <p class="button_open more_button"><img src="<%= productRootPath %>img/set_button_open_nyueki.png" alt=""></p>
          <p class="button_close more_button"><img src="<%= productRootPath %>img/set_button_close.png" alt=""></p>
          <div class="more_content">
            <p><img src="<%= productRootPath %>img/set_nyueki_about.png" alt=""></p>
            <div class="voice_area">
              <div class="voice_block">
                <ul>
                  <li>
                    <img class="pc" src="<%= productRootPath %>img/img_voice_star5.png" alt="">
                    <img class="sp" src="<%= productRootPath %>img/img_voice_star5_sp.png" alt="">
                  </li><!-- 星 -->
                  <li class="user">48歳/女性</li>
                </ul>
                <p class="voice_text">水分たっぷりなのに、ベタつきはありません。<br>なじみが早く、みずみずしいつけ心地がとても気に入りました。<br>少量でもかなり伸びるので、コスパが良いですね。</p>
              </div>
              <div class="voice_block">
                <ul>
                  <li>
                    <img class="pc" src="<%= productRootPath %>img/img_voice_star5.png" alt="">
                    <img class="sp" src="<%= productRootPath %>img/img_voice_star5_sp.png" alt="">
                  </li><!-- 星 -->
                  <li class="user">43歳/女性</li>
                </ul>
                <p class="voice_text">まず、ボトルがプッシュ式になっているところが使いやすくていいです。テクスチャーの固さがほど良く、伸びも良いのでムラなくぬれます。この
        くらいのテクスチャーだと塗りやすく、扱いやすいですね。サラサラすぎる美容液は好きではないけど、エニストの美容乳液はOKです。</p>
              </div>
              <div class="voice_block">
                <ul>
                  <li>
                    <img class="pc" src="<%= productRootPath %>img/img_voice_star5.png" alt="">
                    <img class="sp" src="<%= productRootPath %>img/img_voice_star5_sp.png" alt="">
                  </li><!-- 星 -->
                  <li class="user">50歳/女性</li>
                </ul>
                <p class="voice_text">柔らかすぎないテクスチャーなので、肌に伸ばしやすい。手で温めてからなじませるように、ハンドプレスをしています。<br>ベタつきもなく、潤いを感じられました。</p>
              </div>
              <div class="voice_block">
                <ul>
                  <li>
                    <img class="pc" src="<%= productRootPath %>img/img_voice_star4.png" alt="">
                    <img class="sp" src="<%= productRootPath %>img/img_voice_star4_sp.png" alt="">
                  </li><!-- 星 -->
                  <li class="user">49歳/女性</li>
                </ul>
                <p class="voice_text">適度なとろみ感があり、なめやかで肌なじみ・伸びもよく、好みの感触でした。<!-- 柔らかすぎないテクスチャーなので、肌に伸ばしやすい。手で温めてからなじませるように、ハンドプレスをしています。<br>ベタつきもなく、潤いを感じられました。 --></p>
              </div>
              <div class="voice_block">
                <ul>
                  <li>
                    <img class="pc" src="<%= productRootPath %>img/img_voice_star4.png" alt="">
                    <img class="sp" src="<%= productRootPath %>img/img_voice_star4_sp.png" alt="">
                  </li><!-- 星 -->
                  <li class="user">37歳/女性</li>
                </ul>
                <p class="voice_text">少ない量でも潤いがあります。<br>普段美容液はべたつくので使わないんですが、エニストの美容乳液はベタベタしないので好きです。</p>
              </div>
            </div>
            <!-- /.voice_area -->
          </div>
        </div>
      </div>
      <!--/nyueki -->
      <!--cream -->
      <div id="cream" class="cream lineup_box">
        <p id="cream01"><img src="<%= productRootPath %>img/set_cream_cta.png" alt=""></p>
        <a href="<%= frontURL %>cart/set?code=RNS3&cycle=1&quantity=1"><img src="<%= productRootPath %>img/set_button_01.png" alt=""></a>
        <div class="tujo">
           <p class="price"><img src="<%= productRootPath %>img/cta_cream_05.png" alt=""></p>
           <p class="button">
            <a href="<%= frontURL %>cart/set?code=NS3&cycle=1&quantity=1"><img src="<%= productRootPath %>img/button_tujo.png" alt=""></a>
          </p>
        </div>
        <div class="more">
          <p class="button_open more_button"><img src="<%= productRootPath %>img/set_button_open_cream.png" alt=""></p>
          <p class="button_close more_button"><img src="<%= productRootPath %>img/set_button_close.png" alt=""></p>
          <div class="more_content">
            <p><img src="<%= productRootPath %>img/set_cream_about.png" alt=""></p>
            <div class="voice_area">
              <div class="voice_block">
                <ul>
                  <li>
                    <img class="pc" src="<%= productRootPath %>img/img_voice_star5.png" alt="">
                    <img class="sp" src="<%= productRootPath %>img/img_voice_star5_sp.png" alt="">
                  </li><!-- 星 -->
                  <li class="user">55歳/女性</li>
                </ul>
                <p class="voice_text">高級感のあるパッケージが良かったです。また、ベタつかずにしっとりとしたテクスチャーなので、使いやすく感じました。量もたっぷり入っているので、コスパが良いと思います。香りがほとんどないところも使いやすくて良かったです。</p>
              </div>
              <div class="voice_block">
                <ul>
                  <li>
                    <img class="pc" src="<%= productRootPath %>img/img_voice_star5.png" alt="">
                    <img class="sp" src="<%= productRootPath %>img/img_voice_star5_sp.png" alt="">
                  </li><!-- 星 -->
                  <li class="user">54歳/女性</li>
                </ul>
                <p class="voice_text">朝起きて、顔を洗うときになっても、保湿されている感じが残っています。<br>濃厚なので、少量でも良いかも。気になる部分には重ねて使っています。<br>クリームが形状記憶のように、ピッタリと肌にはりつく感じが好きです。</p>
              </div>
              <div class="voice_block">
                <ul>
                  <li>
                    <img class="pc" src="<%= productRootPath %>img/img_voice_star5.png" alt="">
                    <img class="sp" src="<%= productRootPath %>img/img_voice_star5_sp.png" alt="">
                  </li><!-- 星 -->
                  <li class="user">48歳/女性</li>
                </ul>
                <p class="voice_text">クリームのイメージが変わりました。水分たっぷりでさっぱりなのに、しっかりフタをしてくれそう。心地良い潤い感やプルプル弾力性のあるテクスチャーがとても気に入りました。</p>
              </div>
              <div class="voice_block">
                <ul>
                  <li>
                    <img class="pc" src="<%= productRootPath %>img/img_voice_star5.png" alt="">
                    <img class="sp" src="<%= productRootPath %>img/img_voice_star5_sp.png" alt="">
                  </li><!-- 星 -->
                  <li class="user">55歳/女性</li>
                </ul>
                <p class="voice_text">夜たっぷりクリームを塗っています。スーッとのびて気持ちがいいです。夕方でもどんよりしなくなったし、鏡の前に行く回数も少なくなりました。</p>
              </div>
              <div class="voice_block">
                <ul>
                  <li>
                    <img class="pc" src="<%= productRootPath %>img/img_voice_star4.png" alt="">
                    <img class="sp" src="<%= productRootPath %>img/img_voice_star4_sp.png" alt="">
                  </li><!-- 星 -->
                  <li class="user">61歳/女性</li>
                </ul>
                <p class="voice_text">薄いクリーム色でぷるんとしたテクスチャーはとても自分の好みでした。少量でも伸びが良く、とても使い心地が良かったです。品質も良く、信頼感をもって使用できました。</p>
              </div>
              <div class="voice_block">
                <ul>
                  <li>
                    <img class="pc" src="<%= productRootPath %>img/img_voice_star4.png" alt="">
                    <img class="sp" src="<%= productRootPath %>img/img_voice_star4_sp.png" alt="">
                  </li><!-- 星 -->
                  <li class="user">60歳/女性</li>
                </ul>
                <p class="voice_text">プルプルの感触で伸びが良い。サラッとした触り心地ですが、しっとり感も感じられます。クリームの肌色が高級感があり、開けて使うたびにリッチな気分になります。</p>
              </div>
              <div class="voice_block">
                <ul>
                  <li>
                    <img class="pc" src="<%= productRootPath %>img/img_voice_star3.png" alt="">
                    <img class="sp" src="<%= productRootPath %>img/img_voice_star3_sp.png" alt="">
                  </li><!-- 星 -->
                  <li class="user">37歳/女性</li>
                </ul>
                <p class="voice_text">クリーム自体がプルンとしていて、塗心地が気持ち良いです。とてもしっとりしていて保湿力が高いと感じました。</p>
              </div>
            </div>
            <!-- /.voice_area -->
          </div>
        </div>
        <!--/cream -->
      </div>
    </div>
    <div class="cta_set">
      <p><img src="<%= productRootPath %>img/cta_set_01.png" alt=""></p>
      <p><img src="<%= productRootPath %>img/cta_set_02.png" alt=""></p>
      <p><img src="<%= productRootPath %>img/cta_set_03.png" alt=""></p>
      <p><img src="<%= productRootPath %>img/cta_set_main_02.png" alt=""></p>
      <a href="<%= frontURL %>cart/set?code[]=RNS1&code[]=RNS2&code[]=RNS3&cycle=1&quantity=1"><img src="<%= productRootPath %>img/cta_btn_set_teiki_01.png" alt=""></a>
    </div>
    <div class="history">
      <p id="history01"><img src="<%= productRootPath %>img/img_story-product_sp.jpg" alt=""></p>
    </div>
    <div class="call">
        <p><img src="<%= productRootPath %>img/call_01.png" alt=""></p>
        <a href="tel:0120-237-600"><img src="<%= productRootPath %>img/call_02.png" alt=""></a>
    </div>

    <div id="faq">
      <div class="aligncenter">
        <p>
          <img src="<%= productRootPath %>img/img_faq_title_sp.png" alt="よくある質問">
        </p>

        <div class="faq_list">
          <div class="faq_block faq_acc1">
            <p class="faq_acc_btn">化粧品の保存方法は？</p>
            <div class="inner">
              <img src="<%= productRootPath %>img/img_answer_storage_sp.png" alt="極度に高温、または低温の場所には保管せず、常温で保管をしてください。">
            </div>
          </div>
          <div class="faq_block faq_acc2">
            <p class="faq_acc_btn">エニストシリーズの使用の順番を教えてください</p>
            <div class="inner">
              <img src="<%= productRootPath %>img/img_answer_order_sp.png" alt="化粧水、美容乳液、クリームの順番でご使用ください。">
            </div>
          </div>
          <div class="faq_block faq_acc3">
            <p class="faq_acc_btn">化粧品に使用期限はありますか？</p>
            <div class="inner">
              <img src="<%= productRootPath %>img/img_answer_period_sp.png" alt="未開封の場合は3年以内に使用してください。">
            </div>
          </div>
          <div class="faq_block faq_acc4">
            <p class="faq_acc_btn">敏感肌でも使用できますか？</p>
            <div class="inner">
              <img src="<%= productRootPath %>img/img_answer_sensitive_sp.png" alt="販売している全ての商品はパッチテストを行っておりますが、全ての方に刺激が起こらないわけではありません。">
            </div>
          </div>
          <div class="faq_block faq_acc5">
            <p class="faq_acc_btn">他のブランドと併用しても大丈夫ですか？またラインで使った方がいいですか？</p>
            <div class="inner">
              <img src="<%= productRootPath %>img/img_answer_combined_sp.png" alt="他のブランド製品と併せてお使いいただけます。">
            </div>
          </div>
          <div class="faq_block faq_acc6">
            <p class="faq_acc_btn">肌に異常が現れた場合、どうすればいいですか？</p>
            <div class="inner">
              <img src="<%= productRootPath %>img/img_answer_abnormality_sp.png" alt="ただちに使用を中止し、特に次のような場合は皮膚科専門医にご相談ください。">
            </div>
          </div>
          <!-- /.faq_block -->
        </div>
        <!-- /.faq_list -->
        <p>
          <!-- <img class="pc"  src="<%= productRootPath %>img/img_faq_comment.png" alt="※1角層まで ※2年齢を重ねた肌のこと">
          <img class="sp" src="<%= productRootPath %>img/img_faq_comment_sp.png" alt="※1角層まで ※2年齢を重ねた肌のこと"> -->
        </p>
      </div>
      <!-- /.aligncenter -->
    </div>
    <!-- /#faq -->

  <div id="component">
    <div class="aligncenter pc">
      <p><img src="<%= productRootPath %>img/img_component_title.png" alt="全成分"></p>
      <p><img src="<%= productRootPath %>img/img_component_lotion.png" alt="ザ ベース ローション"></p>
      <p><img src="<%= productRootPath %>img/img_component_serum.png" alt="ザ アクティベイテッド セラム"></p>
      <p><img src="<%= productRootPath %>img/img_component_cream.png" alt="ザ リアウェイクニング クリーム"></p>
    </div>
    <div class="sp">
      <p><img src="<%= productRootPath %>img/img_component_title_sp.jpg" alt="全成分"></p>
      <p><img src="<%= productRootPath %>img/img_component_lotion_sp.jpg" alt="ザ ベース ローション"></p>
      <p><img src="<%= productRootPath %>img/img_component_serum_sp.jpg" alt="ザ アクティベイテッド セラム"></p>
      <p><img src="<%= productRootPath %>img/img_component_cream_sp.jpg" alt="ザ リアウェイクニング クリーム"></p>
    </div>
  </div>
  <!-- /#component -->

  <div id="buy_list">
      <div class="aligncenter">
        <p class="pc"><img src="<%= productRootPath %>img/img_buylist_pc.png" alt=""></p>
        <p class="sp"><img src="<%= productRootPath %>img/img_buylist_sp.png" alt=""></p>
      </div>
  </div>
  <!-- /#buy_list -->



  </div>
  <!-- /nst -->

  </main>
  <!-- /main -->

  <!-- footer -->
  <%- include(`${commonComponentPath}_common_footer`, {commonRootPath, productRootPath}) %>

  </body>

  <!-- nst golp/ver1 -->
</html>
