<%
  const commonRootPath = '../../../../common/';
  const productRootPath = '../../';
  const commonComponentPath = `${commonRootPath}components/`;
  const productComponentPath = `${productRootPath}../components/`;
%><!DOCTYPE html>
<html>
<%- include(`${productComponentPath}_head`, {commonRootPath, productRootPath}) %>
<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PH4SDD" height="0" width="0"
    style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<script>
$(function(){
  $(".guide_ac .guide_btn").on("click", function() {
    $(this).toggleClass("open");
    $(this).next().slideToggle();
  });
});
</script>

<div class="alpha">

  <header class="header">
    <p><img src="<%= productRootPath %>img/header_logo_orientalbio.jpg" alt="OrientalBio"></p>
    <p class="btn_tel"><a href="tel:0120-237-600"><img src="<%= productRootPath %>img/header_btn_tel.png" alt="0120-237-600"></a></p>
  </header>
  <!-- /#header -->

  <div id="fv">
    <p><img src="<%= productRootPath %>img/fv_img_01.jpg" alt="年齢とともに気力・活力高めよう 10年先をイキイキ元気に！「本物」だから30年のロングセラー"></p>
  </div>
  <!-- /#fv -->

  <!-- お知らせ掲載 -->
  <%- include(`${commonComponentPath}_common_oshirase`, {commonRootPath, productRootPath}) %>
  <!-- /お知らせ掲載 -->

  <div id="voice2" class="js-float__open">
    <p><img src="<%= productRootPath %>img/voice2_img_tit.jpg" alt="長く愛されて30年！たくさんの嬉しいお声をいただいています"></p>
    <p><img src="<%= productRootPath %>img/voice2_img_01.png" alt="43歳から飲み続け、気づいたら25年以上 71歳"></p>
    <p><img src="<%= productRootPath %>img/voice2_img_02.png" alt="ラフィーネ-アルファはね、生涯の友だと思ってますよ 81歳"></p>
    <p><img src="<%= productRootPath %>img/voice2_img_03.png" alt="元気でいることがプロの仕事一生に一度の今日を最高に過ごしたい 61歳&63歳"></p>
  </div>

  <section id="cta01" class="js-float__close cta">
    <div class="t3_v2_cta h">
      <a
        href="<%= frontURL %>cart/set?code=R53&cycle=1&quantity=3"><img
          class="js-res_img" src="<%= productRootPath %>img/button_v2_pc.png"></a>
    </div>

    <div class="t1_v2_cta">
      <a href="<%= frontURL %>cart/set?code=R51&cycle=1&quantity=1"><img class="js-res_img" src="<%= productRootPath %>img/button_01_v2_pc.png"></a>
    </div>
    <%- include(`${productComponentPath}_teiki_1_total_price`, {commonRootPath, productRootPath}) %>
    <div class="tujyo_v2">
      <a href="<%= frontURL %>cart/set?code=501&cycle=1&quantity=1"><img class="js-res_img" src="<%= productRootPath %>img/button_tujyo_v2_pc.png"></a>
    </div>
    <div class="omatome_info_v2 pc" >
      <img class="omatome_img" src="<%= productRootPath %>img/cta1_matome_v2_pc.jpg">
    </div>
    <div class="omatome_info_v2 sp" >
      <img class="omatome_img" src="<%= productRootPath %>img/cta1_matome_v2_sp.jpg">
    </div>
  </section>
  <!-- /#offer1 -->

  <div id="tel" class="mgn_bottom">
    <p><img src="<%= productRootPath %>img/tel_img_01.jpg" alt="商品、ご注文、購入後のご不明点などまずはお気軽にお電話ください"></p>
    <p><a href="tel:0120-237-600"><img src="<%= productRootPath %>img/tel_img_02.jpg" alt="0120-237-600"></a></p>
    <p><img src="<%= productRootPath %>img/tel_img_03.jpg" alt="私たち、専任のスタッフがお応え致します"></p>
  </div>

  <div id="development">
    <p><img src="<%= productRootPath %>img/development_img_01.jpg" alt="確かな自信を持ってお届けするために…開発にかけた期間はなんと10年間"></p>
    <p><img src="<%= productRootPath %>img/development_img_02.jpg" alt="長い年月をかけてこだわりを形にした理由それは日本の食のパワーに確信があったから"></p>
    <p><img src="<%= productRootPath %>img/development_img_03.jpg" alt="2013年には、日本の伝統的な「和食」がユネスコの無形文化遺産に登録され、そのパワーに注目が集まっています。"></p>
    <p><img src="<%= productRootPath %>img/development_img_04.jpg" alt="日本食のパワーの正体とは…発酵の力"></p>
    <p><img src="<%= productRootPath %>img/development_img_05.jpg" alt="強力な食卓の味方 「発酵食品」は、日本人の健康を支える欠かせない存在。"></p>
    <p><img src="<%= productRootPath %>img/development_img_07.jpg" alt="日本で最古の発酵食品"></p>
    <p><img src="<%= productRootPath %>img/development_img_08.jpg" alt="ラフィーネ-アルファは研究の末たどり着いたオリジナルの成分で発酵の力を最大限に発揮 大豆発酵エキスNT"></p>
    <p><img src="<%= productRootPath %>img/development_img_09.jpg" alt="大豆・米糠発酵エキスOE-1 ヒドロキシチロソール（オリーブ葉エキス）"></p>
  </div>

  <div id="component">
    <p><img src="<%= productRootPath %>img/component_img_01.jpg" alt="慌ただしい現代社会に生きる毎日の強力な味方になる3大成分を配合しました"></p>
    <p><img src="<%= productRootPath %>img/component_img_02.jpg" alt="成分01 オリエンタルバイオだけのオリジナル成分 大豆発酵エキスNT"></p>
    <p><img src="<%= productRootPath %>img/component_img_03.png" alt="10,000粒に12粒（0.12％）の希少な大豆を使用"></p>
    <p><img src="<%= productRootPath %>img/component_img_04.jpg" alt="開発ストーリー まだ世間に知られていなかった時代からずっと活性酸素の研究をしています"></p>
    <p><img src="<%= productRootPath %>img/component_img_05.jpg" alt="開発当時研究の成果で合計6つの特許を取得！"></p>
    <p><img src="<%= productRootPath %>img/component_img_06.jpg" alt="成分02 オリエンタルバイオだけのオリジナル成分 大豆米糠発酵エキスOE-1"></p>
    <p><img src="<%= productRootPath %>img/component_img_07.jpg" alt="大豆発酵エキスNTと相性抜群！"></p>
    <p><img src="<%= productRootPath %>img/component_img_08.jpg" alt="開発当時研究の成果で合計2つの特許を取得！"></p>
    <p><img src="<%= productRootPath %>img/component_img_09.jpg" alt="成分03 ヒドロキシチロソール ［ オリーブ葉エキス ］"></p>
    <p><img src="<%= productRootPath %>img/component_img_10.jpg" alt="（オリーブ葉エキス）ヒドロキシチロソール８mgを1日にオリーブオイルから摂ろうとすると…オリーブオイル 約210ml分 1,600kcal以上"></p>
  </div>

  <div id="about">
    <p><img src="<%= productRootPath %>img/about_img_01.jpg" alt="「発酵の力」を最大限に高めたラフィーネ-アルファ"></p>
    <p><img src="<%= productRootPath %>img/about_img_02.png" alt="現在はなんと5代目！"></p>
    <p><img src="<%= productRootPath %>img/about_img_03.jpg" alt="販売当初と比べて商品価格はそのままにNT、OE-1ともに配合量アップ！"></p>
    <p><img src="<%= productRootPath %>img/about_img_04.jpg" alt="おひとりおひとりの健康のパートナーであり続けたいから"></p>
    <p><img src="<%= productRootPath %>img/about_img_05.jpg" alt="ラフィーネ－アルファで10年先の健康な暮らしへ！今すぐお試しください！"></p>
  </div>

  <section id="cta02" class="js-float__close cta">
    <div class="t3_v2_cta h">
      <a
        href="<%= frontURL %>cart/set?code=R53&cycle=1&quantity=3"><img
          class="js-res_img" src="<%= productRootPath %>img/button_v2_pc.png"></a>
    </div>

    <div class="t1_v2_cta">
      <a href="<%= frontURL %>cart/set?code=R51&cycle=1&quantity=1"><img class="js-res_img" src="<%= productRootPath %>img/button_01_v2_pc.png"></a>
    </div>
    <%- include(`${productComponentPath}_teiki_1_total_price`, {commonRootPath, productRootPath}) %>
    <div class="tujyo_v2">
      <a href="<%= frontURL %>cart/set?code=501&cycle=1&quantity=1"><img class="js-res_img" src="<%= productRootPath %>img/button_tujyo_v2_pc.png"></a>
    </div>
    <div class="omatome_info_v2 pc" >
      <img class="omatome_img" src="<%= productRootPath %>img/cta1_matome_v2_pc.jpg">
    </div>
    <div class="omatome_info_v2 sp" >
      <img class="omatome_img" src="<%= productRootPath %>img/cta1_matome_v2_sp.jpg">
    </div>
  </section>
  <!-- /#offer2 -->

  <div id="voice">
    <p><img src="<%= productRootPath %>img/voice_img_tit.jpg" alt="人生100年時代をイキイキ楽しむミドル世代が急増中！"></p>
    <p class="js-float__open"><img src="<%= productRootPath %>img/voice_img_01.jpg" alt="夫婦で飲用、これからも欠かさず飲み続けたい"></p>
    <p><img src="<%= productRootPath %>img/voice_img_02.png" alt="死を間近に感じた経験から、健康で普通の生活が送れるありがたさに気づいた"></p>
    <p><img src="<%= productRootPath %>img/voice_img_03.jpg" alt="戦争の経験があり、生きることへの思いは人一倍強い"></p>
    <p><img src="<%= productRootPath %>img/voice_img_04.png" alt="ベイクアートの作品作りをずっと続けたい"></p>
  </div>

  <div id="production">
    <p><img src="<%= productRootPath %>img/production_img_01.jpg" alt="顔の見えにくい通信販売だからこそ真心を込めて"></p>
    <p><img src="<%= productRootPath %>img/production_img_02.jpg" alt="製造工場 ラフィーネ-アルファ製造責任者 大館 巧さん 検品は製造の命！食の安全を守ることは、私たちにとって最も重要な使命"></p>
    <p><img src="<%= productRootPath %>img/production_img_03.jpg" alt="針先の穴ほどの傷も見逃さない厳重なチェックをしています"></p>
    <p><img src="<%= productRootPath %>img/production_img_04.png" alt="商品企画 ラフィーネ-アルファ商品企画部 脇さん 選んでくださったことを後悔してほしくない！お客さまの生のお声から改善を"></p>
    <p><img src="<%= productRootPath %>img/production_img_05.jpg" alt="ご縁の1つ1つに感謝しながら、「少しでも同じ悩みに悩む人の励みになれば」とお話くださるお客さまの思いも、商品のパワーアップという形で多くの方に繋いでいけたらと思います。"></p>
    <p><img src="<%= productRootPath %>img/production_img_06.jpg" alt="そんなお声から生まれたのが飲みやすい優しさを詰め込んだオンリーワンのパッケージ"></p>
    <p><img src="<%= productRootPath %>img/production_img_07.jpg" alt="キャップ 飲み口 フォルム 樹脂"></p>
    <p><img src="<%= productRootPath %>img/production_img_08.jpg" alt="どんな方でも開けやすい容器を追求［ 緻密な計算がなされています ］"></p>
  </div>

  <div id="fixed_banner_target">
    <section id="cta03" class="js-float__close cta">
      <div class="t3_v2_cta h">
        <a
          href="<%= frontURL %>cart/set?code=R53&cycle=1&quantity=3"><img
            class="js-res_img" src="<%= productRootPath %>img/button_v2_pc.png"></a>
      </div>

      <div class="t1_v2_cta">
        <a href="<%= frontURL %>cart/set?code=R51&cycle=1&quantity=1"><img class="js-res_img" src="<%= productRootPath %>img/button_01_v2_pc.png"></a>
      </div>
      <%- include(`${productComponentPath}_teiki_1_total_price`, {commonRootPath, productRootPath}) %>
      <div class="tujyo_v2">
        <a href="<%= frontURL %>cart/set?code=501&cycle=1&quantity=1"><img class="js-res_img" src="<%= productRootPath %>img/button_tujyo_v2_pc.png"></a>
      </div>
      <div class="omatome_info_v2 pc" >
        <img class="omatome_img" src="<%= productRootPath %>img/cta1_matome_v2_pc.jpg">
      </div>
      <div class="omatome_info_v2 sp" >
        <img class="omatome_img" src="<%= productRootPath %>img/cta1_matome_v2_sp.jpg">
      </div>
    </section>
  </div>
  <!-- /#offer3 -->

  <div id="tel">
    <p><img src="<%= productRootPath %>img/tel_img_01.jpg" alt="商品、ご注文、購入後のご不明点などまずはお気軽にお電話ください"></p>
    <p><a href="tel:0120-237-600"><img src="<%= productRootPath %>img/tel_img_02.jpg" alt="0120-237-600"></a></p>
    <p><img src="<%= productRootPath %>img/tel_img_03.jpg" alt="私たち、専任のスタッフがお応え致します"></p>
  </div>

  <div id="guide" class="js-float__open">
    <p><img src="<%= productRootPath %>img/guide_img_tit.jpg" alt="お買い物ガイド"></p>
    <ul class="guide_ac">
      <li class="guide_btn"><img src="<%= productRootPath %>img/guide_btn_01.png" alt="全成分表示"></li>
      <li class="guide_img"><img src="<%= productRootPath %>img/guide_img_01.png" alt="商品名 内容量 原材料名 栄養成分表示 配合量 アレルギー物質"></li>
    </ul>

    <ul class="guide_ac">
      <li class="guide_btn"><img src="<%= productRootPath %>img/guide_btn_02.png" alt="お支払いについて"></li>
      <li class="guide_img"><img src="<%= productRootPath %>img/guide_img_02.png" alt="消費税について 代金引換 SCORE後払い（振込用紙） クレジットカード"></li>
    </ul>

    <ul class="guide_ac">
      <li class="guide_btn"><img src="<%= productRootPath %>img/guide_btn_03.png" alt="送料・配送について"></li>
      <li class="guide_img"><img src="<%= productRootPath %>img/guide_img_03.jpg" alt="配送業者 送料"></li>
    </ul>

    <ul class="guide_ac">
      <li class="guide_btn"><img src="<%= productRootPath %>img/guide_btn_04.png" alt="商品に関するお問い合わせ"></li>
      <li class="guide_img"><img src="<%= productRootPath %>img/guide_img_04.jpg" alt="当社営業時間　平日10時～18時半まで フリーダイヤル：0120-079-996"></li>
    </ul>

    <ul class="guide_ac">
      <li class="guide_btn"><img src="<%= productRootPath %>img/guide_btn_05.png" alt="返品について"></li>
      <li class="guide_img"><img src="<%= productRootPath %>img/guide_img_05.jpg" alt="ご連絡頂き、返品の旨をお伝えください。担当者より返品手順のご説明申し上げます。"></li>
    </ul>
  </div>

  <p><img src="<%= productRootPath %>img/footer_logo_orientalbio.jpg" alt="OrientalBio"></p>
  <footer class="footer">
    <p><img src="<%= productRootPath %>img/footer_img_bg.jpg" alt="©2019 ORIENTALBIO Co.,Ltd."></p>
    <p class="btn01"><a href="<%= corporateURL %>company/"><img src="<%= productRootPath %>img/footer_btn_01.png" alt="企業情報"></a></p>
    <p class="btn02"><a href="<%= corporateURL %>terms/"><img src="<%= productRootPath %>img/footer_btn_02.png" alt="ご利用に当たって"></a></p>
    <p class="btn03"><a href="<%= corporateURL %>privacy/"><img src="<%= productRootPath %>img/footer_btn_03.png" alt="プライバシーポリシー"></a></p>
    <p class="btn04"><a href="<%= frontURL %>tokutei/"><img src="<%= productRootPath %>img/footer_btn_04.png" alt="特定商取引法に基づく表記"></a></p>
    <p class="btn05"><a href="<%= frontURL %>contact"><img src="<%= productRootPath %>img/footer_btn_05.png" alt="お問い合わせ"></a></p>
  </footer>
  <!-- /#footer -->

  <%- include(`${productComponentPath}_fixed_banner`, {productRootPath, commonRootPath}) %>

</div>
  <!-- /product -->

</body>
