<%
  const commonRootPath = '../../../../common/';
  const productRootPath = '../../';
  const commonComponentPath = `${commonRootPath}components/`;
  const productComponentPath = `${productRootPath}../components/`;
%>
<!DOCTYPE html>
<html>
<%- include(`${productComponentPath}detail/_head`, {commonRootPath, productRootPath}) %>
<body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PH4SDD" height="0" width="0"
        style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

	<div class="epagold ta">
      <!-- header -->
		<%- include(`${productComponentPath}detail/_header`, {commonRootPath, productRootPath}) %>
      <!-- /header -->
		<div id="fv" class="js-hidden-banner">
			<p><img src="<%= productRootPath %>img/fv_ta.png" alt="青魚のサラサラ成分で健康的な毎日を！小林式EPA配合 ラフィーネエパゴールド"></p>
			<p class="tel_btn01"><a href="tel:0120117502" class="ebis_button_trigger" data-cid="2JbemGXQ" data-pid="clickcv_sp_epalp"><img src="<%= productRootPath %>img/btn_tel_01.png" alt="電話で注文0120117502"></a></p>
		</div><!-- /#fv -->

    <!-- お知らせ掲載 -->
    <%- include(`${commonComponentPath}_common_oshirase`, {commonRootPath, productRootPath}) %>
    <!-- /お知らせ掲載 -->

		<!-- voice2 -->
    <%- include(`${productComponentPath}_uservoice2`, {commonRootPath, productRootPath}) %>
		<!-- /voice2 -->

		<div id="committed_to">
			<p><img src="<%= productRootPath %>img/committed_to_1_1_1.png" alt="こだわり1：生の青魚パワーそのまま！小林式EPA"></p>
			<p><img src="<%= productRootPath %>img/committed_to_1_1_2.gif" alt="生の青魚と同じ構造体のEPA"></p>
			<p><img src="<%= productRootPath %>img/committed_to_1_2.jpg" alt="山口大学医学部の研究室で確認済み"></p>
			<p><img src="<%= productRootPath %>img/committed_to_2_1.jpg" alt="こだわり2：EPAの吸収量ぐーんとアップ　吸収サポート成分"></p>
			<p><img src="<%= productRootPath %>img/committed_to_2_2.jpg" alt="ラフィーネエパゴールドには山口大学の研究をもとに、吸収をサポートするための「7つの食品成分」が配合されています。"></p>
			<p><img src="<%= productRootPath %>img/committed_to_2_3.gif" alt="水溶性実験でも溶けやすさが一目瞭然。水に溶けやすく、吸収しやすい"></p>
			<p><img src="<%= productRootPath %>img/committed_to_3_1_ta.jpg" alt="こだわり3：足りない栄養素も一緒に！プラスの栄養サポート"></p>
			<p><img src="<%= productRootPath %>img/committed_to_3_2.jpg" alt="DHA・ビタミンE・ビタミンB12・大豆発酵エキスNT"></p>
		</div>
		<div id="cv_01">
			<p><img src="<%= productRootPath %>img/cv_01.png" alt="EPAの健康習慣はじめませんか？ラフィーネ エパゴールド600・300"></p>
		</div>

    <div id="target-cta" class="cta_set  js-hidden-banner">
<!--定期600CTA  -->
<%- include(`${productComponentPath}_cta_600_teiki`, {commonRootPath, productRootPath}) %>
<!--/定期600CTA  -->
<!--定期300CTA  -->
<%- include(`${productComponentPath}_cta_300_teiki`, {commonRootPath, productRootPath}) %>
<!--/定期300CTA  -->
<!--定期小粒CTA  -->
<%- include(`${productComponentPath}_cta_small_teiki1`, {commonRootPath, productRootPath}) %>
<!--/定期小粒CTA  -->

      <div class="cta_box_normal cta_box-tsujo">
        <img src="<%= productRootPath %>../common/img/cta_tsujo.png" alt="">
<!--通常600CTA  -->
<%- include(`${productComponentPath}_cta_600_tsujo`, {commonRootPath, productRootPath}) %>
<!--/通常600CTA  -->
<!--通常300CTA  -->
<%- include(`${productComponentPath}_cta_300_tsujo`, {commonRootPath, productRootPath}) %>
<!--/通常300CTA  -->
<!--通常小粒CTA  -->
<%- include(`${productComponentPath}_cta_small_tsujo`, {commonRootPath, productRootPath}) %>
<!--/通常小粒CTA  -->
      </div>
    </div>
    <!-- /.cta_set -->

		<div class="users_voice"><!--ご愛飲者様に取材しました！-->
			<p class="users_voice_title"><img src="<%= productRootPath %>img/users_voice_title.png" alt="ご愛飲者様に取材しました！"></p>
			<div class="voice_outerbox">
        <div class="voice_box"><!--40代-->
					<p class="caption"><img src="<%= productRootPath %>img/users_voice01_caption.png" alt="飲用歴：2年6カ月 飲用商品：エパゴールド600"></p>
					<div class="contents">
						<p class="users_voice_01"><img class="round_style" src="<%= productRootPath %>img/users_voice01_img01_1.png" alt=""></p>
						<p class="users_voice_02"><img src="<%= productRootPath %>img/users_voice01_img01_2.jpg" alt=""></p>
						<div class="more_btn">
							<p class="more"><img src="<%= productRootPath %>img/btn_users_voice_more.png" alt="続きを読む"></p>
							<p class="close"><img src="<%= productRootPath %>img/btn_users_voice_close.png" alt="取材内容を閉じる"></p>
						</div>
					</div>
				</div>
				<div class="voice_box"><!--50代-->
					<p class="caption"><img src="<%= productRootPath %>img/users_voice02_caption.png" alt="飲用歴：12年9カ月 飲用商品：エパゴールド600"></p>
					<div class="contents">
						<p class="users_voice_01"><img class="round_style" src="<%= productRootPath %>img/users_voice02_img01_1.jpg" alt="食生活・疲労・ストレス…思い当たる節が多すぎて"></p>
						<p class="users_voice_02"><img src="<%= productRootPath %>img/users_voice02_img01_2.jpg" alt=""></p>
						<div class="more_btn">
							<p class="more"><img src="<%= productRootPath %>img/btn_users_voice_more.png" alt="続きを読む"></p>
							<p class="close"><img src="<%= productRootPath %>img/btn_users_voice_close.png" alt="取材内容を閉じる"></p>
						</div>
					</div>
				</div>
				<div class="voice_box"><!--60代-->
					<p class="caption"><img src="<%= productRootPath %>img/users_voice03_caption.png" alt="飲用歴：6年1カ月 飲用商品：エパゴールド600"></p>
					<div class="contents">
						<p class="users_voice_01"><img class="round_style" src="<%= productRootPath %>img/users_voice03_img01_1.jpg" alt="将来を見据えたケアがしたくて"></p>
						<p class="users_voice_02"><img src="<%= productRootPath %>img/users_voice03_img01_2.jpg" alt=""></p>
						<div class="more_btn">
							<p class="more"><img src="<%= productRootPath %>img/btn_users_voice_more.png" alt="続きを読む"></p>
							<p class="close"><img src="<%= productRootPath %>img/btn_users_voice_close.png" alt="取材内容を閉じる"></p>
						</div>
					</div>
				</div>
				<div class="voice_box"><!--70代-->
					<p class="caption"><img src="<%= productRootPath %>img/users_voice04_caption.png" alt="飲用歴：4年7カ月 飲用商品：エパゴールド600"></p>
					<div class="contents">
						<p class="users_voice_01"><img class="round_style" src="<%= productRootPath %>img/users_voice04_img01_1.jpg" alt="普段自分から言わない旦那が「これ注文してくれや」って"></p>
						<p class="users_voice_02"><img src="<%= productRootPath %>img/users_voice04_img01_2.png" alt=""></p>
						<div class="more_btn">
							<p class="more"><img src="<%= productRootPath %>img/btn_users_voice_more.png" alt="続きを読む"></p>
							<p class="close"><img src="<%= productRootPath %>img/btn_users_voice_close.png" alt="取材内容を閉じる"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%- include(`${productComponentPath}detail/_voice_scroll`, {commonRootPath, productRootPath}) %>

		<div id="award">
			<p><img src="<%= productRootPath %>img/award_02.jpg" alt="ラフィーネエパゴールドは公的機関から高く評価されました！"></p>
			<p><img src="<%= productRootPath %>img/award_03.png" alt="経済産業省傘下のNEDO助成対象事業に採択"></p>
			<p><img src="<%= productRootPath %>img/award_04.jpg" alt="産学官連携事業における成功事例として表彰"></p>
			<p><img src="<%= productRootPath %>img/award_05.jpg" alt="発明協会会長奨励賞を受賞"></p>
		</div>
		<div id="quality_manage">
			<p id="js-target-tovoice"><img src="<%= productRootPath %>img/quality_manage_01_ta.jpg" alt="毎日口にするものだから徹底した品質管理でお届けしています！"></p>
			<p><img src="<%= productRootPath %>img/quality_manage_02_ta.jpg" alt="健康食品GMP認定　国内工場で製造"></p>
			<p><img src="<%= productRootPath %>img/quality_manage_03_ta.jpg" alt="ソフトカプセルは体内できちんと溶け出ることが大切です。オリエンタルバイオではソフトカプセルであるエパゴールドが体の中できちんと溶けるかの試験を、出来上がった製品に対して行っております。"></p>
		</div>

    <div id="target-cta02" class="cta_set  js-hidden-banner">
<!--定期600CTA  -->
<%- include(`${productComponentPath}_cta_600_teiki`, {commonRootPath, productRootPath}) %>
<!--/定期600CTA  -->
<!--定期300CTA  -->
<%- include(`${productComponentPath}_cta_300_teiki`, {commonRootPath, productRootPath}) %>
<!--/定期300CTA  -->
<!--定期小粒CTA  -->
<%- include(`${productComponentPath}_cta_small_teiki2`, {commonRootPath, productRootPath}) %>
<!--/定期小粒CTA  -->


      <div class="cta_box_normal cta_box-tsujo">
        <img src="<%= productRootPath %>../common/img/cta_tsujo.png" alt="">
<!--通常600CTA  -->
<%- include(`${productComponentPath}_cta_600_tsujo`, {commonRootPath, productRootPath}) %>
<!--/通常600CTA  -->
<!--通常300CTA  -->
<%- include(`${productComponentPath}_cta_300_tsujo`, {commonRootPath, productRootPath}) %>
<!--/通常300CTA  -->
<!--通常小粒CTA  -->
<%- include(`${productComponentPath}_cta_small_tsujo`, {commonRootPath, productRootPath}) %>
<!--/通常小粒CTA  -->
      </div>
    </div>
    <!-- /.cta_set -->
    <%- include(`${productComponentPath}_call`, {commonRootPath, productRootPath}) %>

		<div id="qa">
			<p class="qa_box"><img src="<%= productRootPath %>img/qa_title.png" alt="Q&A お客様から頂くご質問にお答えします！"></p>
			<div class="qa_box qa_05">
				<p class="qa_question"><img src="<%= productRootPath %>img/qa_05_01.png" alt="エパゴールド３００と６００はどう違いますか？"></p>
				<p class="qa_answer"><img src="<%= productRootPath %>img/qa_05_02.png" alt="エパゴールド３００と６００は、１袋あたりの粒数が異なります。■エパゴールド３００（６０粒入り）■エパゴールド６００（１２０粒入り）※中身のカプセルは同じものです。より実感したいという方には、１日４粒（ＥＰＡ６００mg）をオススメしております。"></p>
			</div>
			<div class="qa_box qa_01">
				<p class="qa_question"><img src="<%= productRootPath %>img/qa_01_01.png" alt="飲めない方はいますか？"></p>
				<p class="qa_answer"><img src="<%= productRootPath %>img/qa_01_02.png" alt="卵、大豆、サバ※1、ゼラチン（豚由来）を使用した原料を配合しています。これらアレルギーがある方はお控えください。"></p>
			</div>
			<div class="qa_box qa_03">
				<p class="qa_question"><img src="<%= productRootPath %>img/qa_03_01.png" alt="お薬を飲んでいますが大丈夫ですか？"></p>
				<p class="qa_answer"><img src="<%= productRootPath %>img/qa_03_02.png" alt="食品成分のみを使用しておりますので、基本的には差し支えございませんが、お薬と併用されたい場合はかかりつけのお医者様や薬剤師の方にご相談の上、ご飲用いただくことをおすすめしております。"></p>
			</div>
			<div class="qa_box qa_04">
				<p class="qa_question"><img src="<%= productRootPath %>img/qa_04_01.png" alt="他のサプリメントと比べてカプセルが大きいのですが…"></p>
				<p class="qa_answer"><img src="<%= productRootPath %>img/qa_04_02.png" alt="小林式EPAの持つ立体構造を保つため、他のEPA食品よりも大きなカプセルで製造しております。飲みづらいと感じられる場合は、無理に飲み込まず1粒ずつご飲用ください。"></p>
			</div>
		</div>

    <div id="info_list">
			<div class="list_box">
				<p class="info_caption"><img src="<%= productRootPath %>img/ingredient_label_caption.png" alt="全成分表示"></p>
				<p class="info_text"><img src="<%= productRootPath %>img/ingredient_label_text.png" alt="商品名・内容量・原材料名・栄養成分表示・配合量・栄養機能表示・アレルギー物質"></p>
			</div>
			<div class="list_box">
				<p class="info_caption"><img src="<%= productRootPath %>img/payment_caption.png" alt="お支払い方法"></p>
				<p class="info_text"><img src="<%= productRootPath %>img/payment_text.jpg" alt="お支払い方法・消費税について"></p>
			</div>
			<div class="list_box">
				<p class="info_caption"><img src="<%= productRootPath %>img/delivery_caption.png" alt="配送・送料について"></p>
				<p class="info_text"><img src="<%= productRootPath %>img/delivery_text.png" alt="配送業者・送料"></p>
			</div>
			<div class="list_box">
				<p class="info_caption"><img src="<%= productRootPath %>img/returns_exchanges_caption.png" alt="返品・交換について"></p>
				<p class="info_text"><img src="<%= productRootPath %>img/returns_exchanges_text.png" alt="当社営業時間 平日10時～18時半まで フリーダイヤル：0120-079-996 ご連絡頂き、返品の旨をお伝えください。"></p>
			</div>
			<div class="list_box">
				<p class="info_caption"><img src="<%= productRootPath %>img/product_inquiry_caption.png" alt="商品に関するお問い合わせ"></p>
				<p class="info_text"><img src="<%= productRootPath %>img/product_inquiry_text.png" alt="当社営業時間 平日10時～18時半まで フリーダイヤル：0120-079-996"></p>
			</div>
		</div>
		<p class="under_logo"><img src="<%= productRootPath %>img/under_logo.png" alt="オリエンタルバイオ"></p>
	</div><!-- /epagold -->
	<div class="edit-area">
		<div class="popup popup-tocta">
			<div class="popup-close"></div>
			<a href="#target-cta" class="pc"><img src="<%= productRootPath %>img/popup_tocta_pc.png" alt=""></a>
			<a href="#target-cta" class="sp"><img src="<%= productRootPath %>img/popup_tocta_sp.png" alt=""></a>
		</div>
		<div class="popup popup-tovoice">
			<div class="popup-close"></div>
			<a href="#target-voice" class="pc"><img src="<%= productRootPath %>img/popup_tovoice_pc.png" alt=""></a>
			<a href="#target-voice" class="sp"><img src="<%= productRootPath %>img/popup_tovoice_sp.png" alt=""></a>
		</div>
	</div>
	<!-- footer -->
<footer id="footer">
		<div class="footer_link">
			<p class="footer_link_btn"><a href="<%= corporateURL %>company/" target="_blank"><img src="<%= productRootPath %>img/btn_footer_company.png" alt="企業情報"></a></p>
			<p class="footer_link_btn"><a href="<%= corporateURL %>terms/" target="_blank"><img src="<%= productRootPath %>img/btn_footer_terms.png" alt="ご利用に当たって"></a></p>
			<p class="footer_link_btn"><a href="<%= corporateURL %>privacy/" target="_blank"><img src="<%= productRootPath %>img/btn_footer_privacy.png" alt="プライバシーポリシー"></a></p>
			<p class="footer_link_btn"><a href="<%= frontURL %>tokutei/" target="_blank"><img src="<%= productRootPath %>img/btn_footer_tokutei.png" alt="特定商取引法に基づく表記"></a></p>
			<p class="footer_link_btn"><a href="<%= frontURL %>contact/" target="_blank"><img src="<%= productRootPath %>img/btn_footer_contact.png" alt="お問い合わせ"></a></p>
			<p class="copyright">©2020 ORIENTALBIO Co.,Ltd.</p>
		</div>
	</footer>
	<!-- /footer -->
	<%- include(`${productComponentPath}detail/_fixed_banner`, {productRootPath, commonRootPath}) %>
<script src="<%= productRootPath %>js/epagold_detail.js" charset="utf-8"></script>
		</body>
</html>
